<template>
  <div class="my-3 ml-2" id="requests-view">
    <h4 class="color1 ml-4">TRUCKS</h4>
    <b-card class="my-4 mr-4 ml-4">
      <!-- active-nav-item-class="font-weight-bold color-success text-success" -->
      <b-tabs id="tabs" v-model="tabIndex" content-class="mt-3">
        <b-tab id="tab1" title="Truck" :title-link-class="linkClass(0)">
          <truck />
        </b-tab>
        <b-tab id="tab2" title="Truck Type" :title-link-class="linkClass(1)">
          <trucktype />
        </b-tab>
      </b-tabs>
    </b-card>

    <!-- ALERT SUCCESSFULL END -->
  </div>
</template>

<script>
// import alert from "@/components/Alert/Successful";
import truck from "@/components/Truck/truck";
import trucktype from "@/components/Truck/truck_type";
export default {
  data() {
    return {
      tabIndex: 0
    };
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view trucks" }
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  },
  components: {
    //   alert
    truck,
    trucktype
  },
  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.color1 {
  color: #00803e !important;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
</style>
