<template>
  <div class="my-3 ml-2" id="requests-view">
    <!-- loading overlay -->
    <Loading v-if="showLoading" />

    <!-- header -->
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="id-badge" class="icon" />Users
    </h4>

    <b-card class="my-4 mr-4 ml-4">
      <b-card-group deck>
        <div class="my-2 mr-4 ml-4" style="width:600px">
          <!-- table view -->
          <b-row>
            <b-col>
              <!-- search bar -->
              <b-form-group
                style="font-size:13px"
                label="Search"
                label-cols-sm="3"
                label-align-sm="left"
                label-size="sm"
                label-for="filterInput"
              >
                <b-input-group size="sm">
                  <b-form-input
                    style="font-size:13px"
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    label-align-sm="left"
                    placeholder="Type to Search"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button id="inputSearchClear" :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>

            <b-table
              id="table"
              class="my-1"
              style="font-size:13px"
              show-empty
              small
              scrollable
              stacked="md"
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
            >
              <template v-slot:cell(Actions)="row">
                <b-button id="btnEditUser" class="button1" size="sm" @click="openModal(row)">
                  <font-awesome-icon icon="edit" class="icon" />
                </b-button>
                <b-button id="btnResetPw" class="resetPw" size="sm" @click="showYesNo(row)">
                  <font-awesome-icon icon="redo" class="icon" />
                </b-button>
              </template>
              <template v-slot:table-caption>
                <b-row align-h="end">
                  <b-col cols="6">{{bottomLabel}}</b-col>

                  <b-col cols="6">
                    <b-pagination
                      id="pagination"
                      pills
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      align="right"
                      size="sm"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </template>
            </b-table>
          </b-row>
          <!-- end table view -->
        </div>

        <!-- add employee form -->
        <b-card style="height:30%">
          <b-card-text>
            <h5 class="color1">NEW USER</h5>
          </b-card-text>

          <hr />

          <b-form-group id="empId" label="Employee" label-for="input-2" style="font-size:13px">
            <b-row>
              <b-col cols="10">
                <b-form-input
                  style="font-size:13px"
                  id="EmployeeIdInput"
                  required
                  readonly
                  v-model="employeeName"
                  autocomplete="off"
                ></b-form-input>
              </b-col>
              <b-col cols="0.09">
                <b-button
                  class="button1"
                  small
                  style="font-size:13px"
                  @click="modalShow = true"
                >Select</b-button>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group id="empId" label="Employee ID:" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="empIdInput"
              autocomplete="off"
              v-model="empId"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="lname"
            label="Contact Number:"
            label-for="input-2"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="LNameInput"
              autocomplete="off"
              v-model="contactNumber"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="addRole" label="Role" label-for="input-2" style="font-size:13px">
            <b-form-select
              style="font-size:13px"
              id="RoleSelect"
              v-model="selectedRole"
              :options="roles"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="islicensed"
            label="Is Licensed"
            label-for="checkbox"
            style="font-size:13px"
          >
            <b-form-checkbox id="checkbox" v-model="isLicensed" name="check-button" disabled switch>
              <b>{{ isLicensed ? "Yes" : "No" }}</b>
            </b-form-checkbox>
          </b-form-group>
          <br />
          <b-row align-h="end">
            <b-button
              @click="clearFields()"
              variant="danger"
              class="mr-2"
              style="font-size:13px"
            >Clear</b-button>
            <b-button @click="addUser" class="button1 mr-3" style="font-size:13px">Add</b-button>
          </b-row>
        </b-card>
        <!-- end employee form -->
      </b-card-group>
    </b-card>

    <!-- modal select employees -->
    <b-modal
      v-model="modalShow"
      id="modal-xl"
      size="xl"
      title="SELECT EMPLOYEE"
      no-close-on-backdrop
      hide-footer
    >
      <b-card>
        <b-row>
          <b-col>
            <!-- search bar -->
            <b-form-group
              style="font-size:13px"
              label="Search"
              label-cols-sm="3"
              label-align-sm="left"
              label-size="sm"
              label-for="filterEmp"
            >
              <b-input-group size="sm">
                <b-form-input
                  style="font-size:13px"
                  v-model="filterEmp"
                  type="search"
                  id="filterEmpImput"
                  label-align-sm="left"
                  placeholder="Type to Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button
                    id="inputSearchClear"
                    :disabled="!filterEmp"
                    @click="filterEmp = ''"
                  >Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>

          <!-- table employees -->
          <b-table
            id="empTable"
            class="my-3 mr-3 ml-3"
            style="font-size:13px"
            show-empty
            small
            stacked="md"
            :items="employees"
            :fields="fieldsEmp"
            :current-page="currentPages"
            :per-page="perPages"
            :filter="filterEmp"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="getEmployeeId"
          >
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{bottomLabels}}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPages"
                    :total-rows="totalRowss"
                    :per-page="perPages"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
        </b-row>
      </b-card>
    </b-modal>
    <!-- end modal select employees -->

    <!-- update employee modal -->
    <b-modal
      v-model="updateModal"
      id="modal-xl"
      size="xl"
      title="UPDATE EMPLOYEE"
      no-close-on-backdrop
      hide-footer
      hide-header-close
    >
      <b-card style="height:30%">
        <b-form-group id="empId" label="Employee" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="EmployeeIdInput"
            required
            readonly
            v-model="userData.fullname"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="empId" label="Employee ID:" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="empIdInput"
            autocomplete="off"
            v-model="userData.id"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="lname" label="Contact Number:" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="LNameInput"
            autocomplete="off"
            v-model="userData.contact"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="addRole" label="Role" label-for="input-2" style="font-size:13px">
          <b-form-select
            v-if="userData.role"
            style="font-size:13px"
            id="RoleSelect"
            v-model="userData.role.id"
            :options="roles"
            required
          ></b-form-select>
        </b-form-group>

        <b-row>
          <b-col>
            <b-form-group
              id="islicensed"
              label="Is Licensed"
              label-for="checkbox"
              style="font-size:13px"
            >
              <b-form-checkbox
                id="checkbox"
                v-model="userData.is_licensed"
                name="check-button"
                disabled
                switch
              >
                <b>{{ userData.is_licensed ? "Yes" : "No" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              id="userStatus"
              label="Status"
              label-for="checkbox"
              style="font-size:13px"
            >
              <b-form-checkbox
                id="userStatuscb"
                v-model="userData.status"
                name="check-button"
                switch
              >
                <b>{{ userData.status ? "Active" : "Inactive" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>

        <!-- button -->
        <b-row align-h="start">
          <b-button
            @click="closeUpdateModal"
            variant="danger"
            class="mr-2"
            style="font-size:13px"
          >Close</b-button>
          <b-button @click="updateEmployee" class="button1 mr-3" style="font-size:13px">Update</b-button>
        </b-row>
      </b-card>
      <hr />

      <!-- alert -->
      <b-alert
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
      >{{errorMsg}}</b-alert>
    </b-modal>
    <!-- end update employee modal -->

    <!-- yes no modal -->
    <b-modal
      ref="yes-no-modal"
      hide-footer
      no-close-on-backdrop
      centered
      title="WARNING!"
      variant="warning"
    >
      <div class="d-block">
        <h5>The employee's password and code will be reset, do you want to continue?</h5>
      </div>
      <hr />

      <b-button class="mt-3 float-right" variant="success" @click="resetPassword">YES</b-button>
      <b-button class="mt-3 mr-1 float-right" variant="danger" @click="hideYesNo">NO</b-button>
    </b-modal>
    <!-- end yes no modal -->

    <!-- messages -->
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChanged"
    >{{successMsg}}</b-alert>
    <!-- error msg -->
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
    >{{errorMsg}}</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view users" }
  },
  layout: "sidebar",
  data() {
    return {
      resetPwCode: [],
      isLicensed: false,
      employeeName: null,
      filterEmp: null,
      modalShow: false,
      showLoading: false,
      filter: null,
      contactNumber: null,
      selectedRole: null,
      roles: [],
      employeeId: null, // when select employee
      empId: null, // form
      //   table model home view
      items: [],
      fields: [
        { key: "employee_id", label: "Employee Id", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "role_name", label: "Role", sortable: true },
        { key: "Actions", label: "Actions", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 8,
      filterOn: [],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      totalRows: 1,
      //   til here table home models
      //   table modal view
      employees: [],
      fieldsEmp: [
        { key: "employee_id", label: "Employee Id", sortable: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "is_user", label: "Is Licensed", sortable: true }
      ],
      currentPages: 1,
      perPages: 10,
      totalRowss: 1,
      // end table modal view
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      userIdUpdate: null,
      userData: {},
      updateModal: false
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    bottomLabels() {
      let end = this.perPages * this.currentPages;
      let start = end - this.perPages + 1;

      if (end > this.employees.length) {
        end = this.employees.length;
      }

      if (this.employees.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.employees.length} entries`;
    },
    sortOptions() {
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    sortOption() {
      return this.fieldsEmp
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  async created() {
    await this.getUsers();
    await this.getAllEmployees();
    await this.getRoles();
    this.totalRows = this.items.length;
    this.totalRowss = this.employees.length;
  },
  methods: {
    // show yes no modal
    showYesNo(row) {
      this.$refs["yes-no-modal"].show();
      this.resetPwCode = row;
    },
    // hide yes no modal
    hideYesNo() {
      this.$refs["yes-no-modal"].hide();
      this.resetPwCode = [];
    },
    // reset pw and pin
    async resetPassword() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          // online mode
          const row = this.resetPwCode;

          // primary key
          const id = row.item.id;

          // employee id
          const empId = row.item.employee_id;

          const data = {
            U_TS_PW: empId,
            U_TS_LOGIN_COUNT: "0",
            U_TS_PIN: null,
            mode: 1
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/reset/${id}`,
            data: {
              ...data
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          const status = res.data.patched.status;

          if (status == 204) {
            this.showLoading = false;
            this.hideYesNo();
            this.successMsg = "Password and code reset successfully.";
            this.showAlert();
          }
        } else {
          // offline mode
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.hideYesNo();
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    async updateEmployee() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const empStatus = this.userData.status ? "active" : "inactive";
          // test
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/users/update/${this.userIdUpdate}`,
            data: {
              U_TS_EMP_ID: this.userData.id,
              U_TS_ROLE_ID: this.userData.role.id,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_TS_CONTACT: this.userData.contact,
              U_TS_STATUS: empStatus,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          const status = res.data.patched.status;
          if (status == 204) {
            this.getUsers();
            this.closeUpdateModal();
            this.successMsg = "Updated Successfully.";
            this.showAlert();
          }
        } else {
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/users/update/${this.userIdUpdate}`,
            data: {
              employee_id: this.userData.id,
              email: this.userData.email,
              firstname: this.userData.firstname,
              middlename: this.userData.middlename,
              lastname: this.userData.lastname,
              role_id: this.userData.role.id,
              users_id: localStorage.id
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          this.getUsers();
          this.closeModal();
          this.successMsg = res.data.patched.msg;
          this.showAlert();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErrs();
          } catch (er) {
            console.log(e);
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErrs();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    closeUpdateModal() {
      this.updateModal = false;
      this.userData = {};
    },
    async openModal(row) {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const id = row.item.id;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select/${id}`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.status;
          if (status == 200) {
            const data = res.data.view[0];

            let license = false;

            if (data.U_TS_IS_DIRECTUSER !== 0) {
              license = true;
            }

            let status = false;
            if (data.USERSTATUS) {
              if (data.USERSTATUS.toLowerCase() == "active") {
                status = true;
              }
            }

            this.userIdUpdate = data.USERCODE; // PK id

            this.userData = {
              id: data.U_TS_EMP_ID,
              email: data.email ? data.email : "",
              fullname: `${data.firstName} ${data.lastName}`,
              contact: data.U_TS_CONTACT ? data.U_TS_CONTACT : "",
              status,
              is_licensed: license,
              role: {
                id: data.ROLECODE
              }
            };

            this.updateModal = true; // show modal
          }
        } else {
          const id = row.item.id;
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/select/${id}`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          const data = res.data.view[0];
          this.userIdUpdate = data.id; // PK id
          this.userData = {
            id: data.employee_id,
            email: data.email,
            firstname: data.firstname,
            middlename: data.middlename,
            lastname: data.lastname,
            role: {
              id: data.role_id,
              name: data.role_name
            }
          };

          this.Action = true; // show modal
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // messages
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async getRoles() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/Roles/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          const status = res.data.view.status;

          if (status == 401) {
            // invalid session; logout?
            this.errorMsg = "Unauthorized, Invalid Session.";
            this.showAlertErr();
          }

          this.showLoading = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            if (e.U_TS_STATUS === "active") {
              this.roles.push({
                value: e.Code,
                text: this.convertCase(e.U_TS_NAME)
              });
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/Roles/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; i < res.data.view.length; i++) {
                if (res.data.view[i].rolestatus === "active") {
                  this.RoleNameSelect.push({
                    value: res.data.view[i].id,
                    text: res.data.view[i].rolename
                  });
                }
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error: ", e);
      }
    },
    clearFields() {
      this.employeeName = null;
      this.employeeId = null; //selected from table
      this.isLicensed = false;
      this.empId = null; // input
      this.contactNumber = null;
      this.selectedRole = null;
    },
    async addUser() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/add`,
            data: {
              U_TS_ROLE_ID: this.selectedRole,
              U_APP_EMP_ID: this.employeeId,
              U_TS_EMP_ID: this.empId,
              U_TS_CONTACT: this.contactNumber,
              U_TS_STATUS: "active",
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          const status = res.data.posted.status;
          if (status == 201) {
            this.successMsg = "Added user successfully.";
            this.getUsers();
            this.showAlert();
            this.clearFields();
          }
          this.showLoading = false;
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/add`,
            data: {
              created_by: localStorage.id,
              employee_id: this.employee_id,
              email: this.email,
              firstname: this.firstname,
              middlename: this.middlename,
              lastname: this.lastname,
              password: this.employee_id,
              role_id: this.selected
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          this.successMsg = res.data.posted.msg;
          this.getUsers();
          this.showAlert();
          this.clearUsers();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    async getUsers() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          this.items = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.data.view.status;

          if (status == 401) {
            // invalid session; logout?
            this.errorMsg = "Unauthorized, Invalid Session.";
            this.showAlertErr();
            return;
          }

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.items.push({
              id: e.USERCODE,
              employee_id: e.U_TS_EMP_ID,
              email: e.email ? e.email : null,
              fullname:
                e.lastName && e.firstName
                  ? this.convertCase(`${e.lastName}, ${e.firstName}`)
                  : "",
              role_name: this.convertCase(e.U_TS_NAME),
              contact_number: e.U_TS_CONTACT ? e.U_TS_CONTACT : null
            });
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              this.items = [];
              for (let i = 0; i < res.data.view.length; i++) {
                //  if (res.data.view[i].module[0].modules_status === 'inactive' && res.data.view[i].status === 'inactive'){
                this.items.push({
                  id: res.data.view[i].id,
                  employee_id: res.data.view[i].employee_id,
                  email: res.data.view[i].email,
                  fullname: res.data.view[i].fullname,
                  role_name: res.data.view[i].role_name,
                  // employee_image: res.data.view[i].employee_image,
                  // employee_signature: res.data.view[i].employee_signature,
                  contact_number: res.data.view[i].contact_number
                  // EmployeeId: res.data.view[i].description,
                  // ModuleName: res.data.view[i].module[0].descriptions,
                  // moduleId: res.data.view[i].module[0].modules_id,
                  // status: res.data.view[i].status,
                  // createdBy: `${res.data.view[i].created_by[0].firstname} ${res.data.view[i].created_by[0].middlename} ${res.data.view[i].created_by[0].lastname}`,
                  // createdAt: "n/a"
                });
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error select all employee: ", e);
      }
    },
    async getAllEmployees() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.employees = [];

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select-employeeInfos`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          if (res.status == 200) {
            const data = res.data.view;

            for (let i = 0; i < data.length; i++) {
              const e = data[i];
              this.employees.push({
                employee_id: e.empID,
                fullname: `${e.lastName}, ${e.firstName}`,
                is_user: e.userId ? "Yes" : "No"
              });
            }
          }
          return;
        }
      } catch (e) {
        console.log("Error get all employees: ", e);
      }
    },
    async getEmployeeId(row) {
      try {
        this.showLoading = true;

        const { employee_id, fullname, is_user } = row;
        this.employeeName = fullname;
        this.employeeId = employee_id;

        if (is_user.toLowerCase() == "yes") {
          this.isLicensed = true;
        } else {
          this.isLicensed = false;
        }

        this.showLoading = false;
        this.modalShow = false;
      } catch (e) {
        console.log("Error passing Employee ID: ", e);
      }
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
    this.totalRowss = this.employees.length;
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.resetPw {
  background-color: #da3b3b;
  color: white;
}

.buttons {
  background-color: #00803e;
  color: white;
  padding: 3px;
  margin-top: 3px;
}

.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
