<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">
      SCAN
      <font-awesome-icon icon="qrcode" class="icon" />QR CODE
    </h4>

    <b-modal ref="my-modal" hide-footer centered title="WARNING!" variant="warning">
      <div class="d-block">
        <h5>Transaction is already completed. Are you sure you want to add another weight slip on this transaction?</h5>
      </div>
      <hr />

      <b-button class="mt-3 float-right" variant="success" @click="TrnCompleted">YES</b-button>
      <b-button class="mt-3 mr-1 float-right" variant="danger" @click="hideTrnModal">NO</b-button>
    </b-modal>

    <!-- Modal -->
    <b-modal id="newTruckModal" hide-footer>
      <template v-slot:modal-title>Register Plate Number</template>
      <div class="d-block text-center">
        <div>
          <b-form @submit="addTruckInfo">
            <b-form-group
              id="input-group-2"
              label="Plate Number"
              label-for="plateNumber"
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="plateNumber"
                v-model="plateNumber"
                required
                disabled
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Truck Model"
              label-for="truckModel"
              style="font-size:13px"
            >
              <b-form-select id="truckModel" v-model="truckModel" :options="truckModelList"></b-form-select>
            </b-form-group>

            <hr />
            <b-button type="submit" class="ml-10 button1" id="submit">Save</b-button>
          </b-form>
        </div>
      </div>
    </b-modal>

    <div class="my-4 mr-4 ml-4">
      <b-form @submit="onSubmit">
        <b-input-group size="lg">
          <b-form-input
            id="transactionInputField"
            autocomplete="off"
            type="search"
            autofocus
            ref="search-focus-employee"
            placeholder="Scan Transaction"
            v-model="qrResult"
            class="form-control-lg"
          ></b-form-input>
        </b-input-group>
        <!-- Code -->
      </b-form>
      <div class="my-4 mr-3 ml-4">
        <b-img src="image.gif" style="max-width:40%" center></b-img>
      </div>
    </div>
    <!-- <b-button
      id="show-btn"
      style="margin-top:20px"
      class="ml-4 button1"
      @click="$bvModal.show('newTruckModal')"
    >
      MODAL
    </b-button>-->
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
    >{{errorMsg}}</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";
export default {
  components: {
    Loading
  },
  layout: "sidebar",

  async created() {
    if (!localStorage.modules) {
      localStorage.clear();
      this.$router.push(`/`);
      return;
    }
    if (localStorage.role === "document controller") {
      this.$router.push(`/transaction`);
    }
    await this.getTruckTypes();
  },

  // middleware: "pageValidator",
  // meta: {
  //   access: { right: "View Transactions" }
  // },

  data() {
    return {
      showLoading: false,
      qrData: {},
      errorMsg: "",
      dismissCountDownErr: 0,
      dismissSecs: 3,
      plateNumber: null,
      truckModel: null,
      truckModelList: [],
      qrResult: "",
      qrData: null,
      isUnacho: null
    };
  },
  computed: {},

  mounted() {},

  methods: {
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    async addTruckInfo(evt) {
      evt.preventDefault();
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const data = {
            U_TS_TRTYPE_ID: this.truckModel,
            U_TS_PLATE_NUM: this.plateNumber,
            U_TS_CREATEDATE: date,
            U_TS_CREATETIME: time,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              ...data
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          if (res.data.posted.status == 201) {
            this.onSubmit(evt);
          }
        } else {
          let data = {
            users_id: localStorage.id,
            truck_type_id: this.truckModel,
            plate_number: this.plateNumber
          };

          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              ...data
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              if (res.status == 201) {
                axios({
                  method: "POST",
                  url: `${this.$axios.defaults.baseURL}/transactions/add`,
                  data: {
                    ...this.qrData
                  },
                  headers: {
                    authorization: "Bearer " + localStorage.token
                  }
                })
                  .then(res => {
                    if (res.status === 201) {
                      this.$router.push(
                        `/transaction/${res.data.posted.transactionId}`
                      );
                    }
                  })
                  .catch(error => {});
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        console.log("Error add truck info", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // previous submit on scan; delete afterwards

    async TrnCompleted() {
      try {
        if (localStorage.mode == 1) {
          this.qrData.specialCaseNewTransactionFlagTrue = 1;

          const ts = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/scan`,
            data: {
              ...this.qrData
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          if (ts.status == 201) {
            this.$router.push(`/transaction/${ts.data.posted.transactionId}`);
          }
        }
      } catch (e) {
        console.log("Error compelete trn");
      }
    },

    hideTrnModal() {
      this.$refs["my-modal"].hide();
    },
    async getTruckTypes() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.truckModelList.push({
              value: e.Code,
              text: this.convertCase(`${e.U_TS_TRTYPE} - ${e.U_TS_TRMODEL}`)
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.truckModelList.push({
                  value: res.data.view[i].id,
                  text: `${res.data.view[i].truck_type} - ${res.data.view[i].truck_model}`
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get truck types.");
      }
    },
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    unachoOrNot(str) {
      // check if transaction is unacho or not
      let bool = false;

      const s = str.split("-");

      const businessEntity = s[0];

      if (businessEntity.toLowerCase() == "unc") {
        bool = true;
      }
      return bool;
    },
    async onSubmit(evt) {
      evt.preventDefault();

      if (localStorage.role.toLowerCase() == "napier controller") {
        // do nothing when empty
        if (!this.qrResult) {
          return;
        }

        this.showLoading = true;

        let code = "";

        // parse or manual type
        try {
          const data = JSON.parse(this.qrResult);
          if (data.supplier_code) {
            code = data.supplier_code;
          }
        } catch (e) {
          code = this.qrResult;
        }

        // we got the code; so request
        // on the future; do checking if code is from FSQR or TSIS

        try {
          this.showLoading = true;

          const req = await axios({
            method: "POST",
            url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
            data: {
              employee_id: "truck_scale",
              supplier_code: code,
              getWeight: true
            },
            headers: {
              authorization: "Bearer "
            }
          });
          this.showLoading = false;

          const fsqr = req.data.transactions[0];

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // ############
          // pass plate number incase of error
          this.plateNumber = fsqr.plate_number;

          // napier transaction is on banga only. STRICTLY!

          // mock data of location from fsqr route
          fsqr.location = "banga";

          this.qrData = {
            transactionType: "delivery",
            plate_number: fsqr.plate_number,
            driver: fsqr.driver_name,
            trackingCode: code,
            no_of_bags: fsqr.no_of_bags,
            created_date: date,
            created_time: time,
            created_by: localStorage.id,
            mode: localStorage.mode,
            isNapier: true,
            locationDelivery: fsqr.location, //get from fsqr route
            modules: JSON.parse(localStorage.modules)
          };
        } catch (e) {
          this.showLoading = false;
          this.qrResult = null;
          console.log("e", e);
          this.errorMsg = "Transaction doesn't exist, please try again.";
          this.showAlertErr();
          return;
        }

        //# NEW; Check if the same truckscale location and delivery location of transaction;
        // Not allow to weight if different location;
        if (
          localStorage.tslocation.toLowerCase() !==
          this.qrData.locationDelivery.toLowerCase()
        ) {
          this.qrResult = null;
          this.errorMsg = "Transaction is not allowed.";
          this.showAlertErr();
          return;
        }

        // insert to truckscale transactions
        try {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/scan`,
            data: {
              ...this.qrData
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          if (res.status == 201) {
            this.$router.push(`/transaction/${res.data.posted.transactionId}`);
          }
        } catch (e) {
          this.showLoading = false;
          console.log(e);

          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);

            const code = err.code;

            if (code == 1) {
              this.showLoading = false;
              // plate number does't exist
              this.$bvModal.show("newTruckModal");
            }

            if (code == 2) {
              // don't allow completed napier transactions special case
              this.errorMsg = "Transaction is already completed.";
              this.showAlertErr();
              return;
            }

            if (code == 3) {
              this.showLoading = false;
              this.qrResult = "";
              // wrong place to weight
              this.errorMsg = "Not allowed to transact here.";
              this.showAlertErr();
              return;
            }
            return;
          } catch (er) {
            // not JSON error
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        }

        return; // exit
      } else {
        // if not napier controller
        // do this

        // do nothing when empty
        if (!this.qrResult) {
          return;
        }

        this.showLoading = true;

        let code = "";

        // parse or manual type
        try {
          const data = JSON.parse(this.qrResult);
          if (data.supplier_code) {
            code = data.supplier_code;
          }
        } catch (e) {
          code = this.qrResult;
        }

        this.showLoading = false;

        // we got the code; so request
        // on the future; do checking if code is from FSQR or TSIS

        try {
          this.showLoading = true;

          const req = await axios({
            method: "POST",
            url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
            data: {
              employee_id: "truck_scale",
              supplier_code: code,
              getWeight: true
            },
            headers: {
              authorization: "Bearer "
            }
          });
          this.showLoading = false;
          // console.log(req);
          const fsqr = req.data.transactions[0];

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // determine if transaction is unacho or not
          // true or false only;
          this.isUnacho = this.unachoOrNot(code);

          // ############
          // pass plate number incase of error
          this.plateNumber = fsqr.plate_number;

          // if unacho; others
          // else delivery

          // mock data of location from fsqr route
          fsqr.location = "banga";

          if (this.isUnacho == true) {
            this.qrData = {
              transactionType: "others",
              plate_number: fsqr.plate_number,
              driver: fsqr.driver_name,
              trackingCode: code,
              no_of_bags: fsqr.no_of_bags,
              created_date: date,
              created_time: time,
              created_by: localStorage.id,
              mode: localStorage.mode,
              isNapier: false,
              locationDelivery: fsqr.location, //get from fsqr route
              modules: JSON.parse(localStorage.modules)
            };
          } else {
            this.qrData = {
              transactionType: "delivery",
              plate_number: fsqr.plate_number,
              driver: fsqr.driver_name,
              trackingCode: code,
              no_of_bags: fsqr.no_of_bags,
              created_date: date,
              created_time: time,
              created_by: localStorage.id,
              mode: localStorage.mode,
              isNapier: false,
              locationDelivery: fsqr.location, //get from fsqr route
              modules: JSON.parse(localStorage.modules)
            };
          }
        } catch (e) {
          this.showLoading = false;
          this.qrResult = null;
          console.log("e", e);
          this.errorMsg = "Transaction doesn't exist, please try again.";
          this.showAlertErr();
          return;
        }

        //# NEW; Check if the same truckscale location and delivery location of transaction;
        // Not allow to weight if different location;
        if (
          localStorage.tslocation.toLowerCase() !==
          this.qrData.locationDelivery.toLowerCase()
        ) {
          this.qrResult = null;
          this.errorMsg = "Transaction is not allowed.";
          this.showAlertErr();
          return;
        }

        // insert to truckscale transactions
        try {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/scan`,
            data: {
              ...this.qrData
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          if (res.status == 201) {
            this.$router.push(`/transaction/${res.data.posted.transactionId}`);
          }
        } catch (e) {
          this.showLoading = false;
          console.log(e);

          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);

            const code = err.code;

            if (code == 1) {
              this.showLoading = false;
              // plate number does't exist
              this.$bvModal.show("newTruckModal");
            }

            if (code == 2) {
              if (this.isUnacho == true) {
                // don't allow completed unacho  transactions special case
                this.errorMsg = "Transaction is already completed.";
                this.showAlertErr();
                return;
              }

              if (err.isNapier == 1) {
                // not allow napier special case
                this.errorMsg = "Transaction is already completed.";
                this.showAlertErr();
                return;
              }
              this.showLoading = false;
              // completed transaction
              this.$refs["my-modal"].show();
            }

            if (code == 3) {
              this.showLoading = false;
              this.qrResult = "";
              // wrong place to weight
              this.errorMsg = "Not allowed to transact here.";
              this.showAlertErr();
              return;
            }
            return;
          } catch (er) {
            // not JSON error
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        }
      }
    }
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
  left: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.err {
  background-color: #f12d2d;
  color: white;
}
</style>
