<template>
  <div class="body">
    <Loading v-if="showLoading" />
    <div class="container">
      <b-card class="bcard">
        <img class="logo" src="/biotech.png" />

        <h6 class="title">CONFIGURE TRUCK SCALE</h6>

        <b-form @submit.prevent="addTruckScale">
          <b-form-group id="input-group-1" label-for="input-1">
            <b-form-input
              id="truckScaleName"
              v-model="truckscale_name"
              required
              placeholder="Truckscale name"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label-for="input-2">
            <b-form-input
              id="TruckScaleLocation"
              required
              v-model="truckscale_location"
              placeholder="Truckscale location"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label-for="input-3">
            <b-form-input
              id="TruckScaleLength"
              type="number"
              v-model="truckscale_length"
              required
              placeholder="Truckscale length"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label-for="input-4">
            <b-form-input
              id="Baudrate"
              type="number"
              v-model="baudrate"
              required
              placeholder="Baud rate"
            ></b-form-input>
          </b-form-group>

          <b-button id="btnSaveConfiguration" type="submit">Save</b-button>
          <b-button id="btnClear" type="reset" variant="danger">Clear</b-button>
        </b-form>

        <h2 class="subtitle" style="margin-top:30px">&copy;2019 BIOTECH FARMS INCORPORATED</h2>
      </b-card>
      <!-- alert msg -->
      <b-alert
        :show="showError"
        dismissible
        fade
        class="red alert"
        @dismiss-count-down="countDownChanged"
      >{{errorMessage}}</b-alert>
      <!-- success -->
      <b-alert
        :show="showSuccess"
        dismissible
        fade
        class="green alert"
        @dismiss-count-down="countDownChangedSuccess"
      >{{successMessage}}</b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  name: "LoginForm",
  layout: "loginLayout",
  data() {
    return {
      showLoading: false,
      truckscale_name: null,
      truckscale_location: null,
      truckscale_length: null,
      baudrate: null,
      parity: "none",
      databits: "8",
      stopbits: "1",
      dismissSecs: 3,
      showError: 0,
      errorMessage: null,
      showSuccess: 0,
      successMessage: null
    };
  },
  methods: {
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    showAlertSuccess() {
      this.showSuccess = this.dismissSecs;
    },
    countDownChanged(showError) {
      this.showError = showError;
    },
    showAlert() {
      this.showError = this.dismissSecs;
    },
    redirect() {
      localStorage.clear();
      this.$router.push(`/`);
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async addTruckScale() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          console.log(date);
          console.log(d);
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/add`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              U_TS_TRSCALE: this.truckscale_name,
              U_TS_TR_LOCATION: this.truckscale_location,
              U_TS_TR_LENGTH: this.truckscale_length,
              U_TS_BAUDRATE: this.baudrate,
              U_TS_PARITY: this.parity,
              U_TS_DATABITS: this.databits,
              U_TS_STOPBITS: this.stopbits,
              mode: localStorage.mode,
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time
            }
          });

          this.showLoading = false;

          const status = res.data.posted.status;

          if (status == 201) {
            this.successMessage = "Configured Successfully.";
            await this.showAlertSuccess();
            // after 3 sec logout
            setTimeout(async () => {
              await this.redirect();
            }, 3000);
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/add`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              truckscale_name: this.truckscale_name,
              truckscale_location: this.truckscale_location,
              truckscale_length: this.truckscale_length,
              baudrate: this.baudrate,
              parity: this.parity,
              databits: this.databits,
              stopbits: this.stopbits
            }
          });
          this.successMessage = res.data.posted.msg;
          await this.showAlertSuccess();
          // after 3 sec logout
          setTimeout(async () => {
            await this.redirect();
          }, 3000);
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlert();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlert();
          }
        } else {
          this.errorMessage = e.response.data.error;
          this.showAlert();
        }
      }
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.red {
  color: whitesmoke;
  background-color: #f03232;
}

.green {
  color: whitesmoke;
  background-color: #00a651;
}

.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
</style>
