<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">REPORT</h4>
    <b-card class="my-4 mr-4 ml-4">
      <b-alert
        id="alertdanger"
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert>
      <!--  
 <b-button id="show-btn" class="color1" @click="$bvModal.show('bv-modal-example')"><font-awesome-icon icon="search" class="icon"/>TRACE TRANSACTION</b-button>

  <b-modal id="bv-modal-example" hide-footer>
    <template v-slot:modal-title>
      TRACE TRANSACTION
    </template>
    <div class="d-block text-center">
       <b-form-input id="input-default" placeholder="Plate Number"></b-form-input>
       <br>
        <b-form-input id="input-default" placeholder="Supplier"></b-form-input>
        <br>
    </div>
    <b-button class="ml-10 button1" href="/transaction/id">Trace</b-button>
      </b-modal>-->

      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="inputSearch"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="5">
          <b-input-group id="date" prepend="Date" size="sm">
            <date-range-picker
              id="datePicker"
              ref="pickdate"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <!-- <template v-slot:input="picker" style="min-width: 350px;">
            {{ picker.startDate | date }} - {{ picker.endDate | date }}
              </template>-->
              <div
                size="sm"
                id="pickdate"
                slot="input"
                style="min-width: 170px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append id="pickdate" style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <!-- <b-col lg="3" sm="6" md="6" class="text-right mb-2"> -->
        <b-col cols class="mb-1">
          <b-dropdown size="sm" id="dropdown-grouped" text="Filter Table">
            <b-dropdown-group id="ttype" header="Status">
              <b-form-checkbox-group
                id="trucktype"
                size="sm"
                v-model="selectedFilters"
                class="ml-4"
              >
                <b-form-checkbox
                  size="sm"
                  :id="'choice' + index"
                  v-for="(item, index) in statusFilters"
                  :key="index"
                  :value="item"
                >{{ item }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col>

        <!-- <b-col cols="1" >

            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>

        </b-col>-->
        <!-- <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter1"
              type="search"
              id="filterInput1"
              placeholder="Filter by"
            ></b-form-input>
          </b-input-group>
        </b-col>-->

        <b-col cols style="text-align: right;">
          <b-button
            id="printBtn"
            size="sm"
            style="font-size:15px;"
            variant="dark"
            v-b-tooltip.hover
            title="Print Report"
            @click="print"
          >
            <font-awesome-icon style icon="print" />
          </b-button>
          <b-button
            id="btnExportReports"
            align="right"
            size="sm"
            class="button1"
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export to Excel"
            @click="exportReports"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button>
        </b-col>

        <!--     
      <b-col>
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
        </b-col>-->
      </b-row>

      <!-- Main table element -->
      <div id="printTable">
        <b-table
          id="printTable"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="computedReports"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
          @row-clicked="openModal"
          :tbody-tr-class="highlightRow"
        >
          <template
            class="font_badge"
            v-slot:cell(created_at)="row"
          >{{formatDate(row.item.created_at)}}</template>
          <template v-slot:cell(name)="row">{{ row.value.first }} {{ row.value.last }}</template>

          <template v-slot:cell(status)="row">
            <div class="badge-font-size" v-if="convertLowerCase(row.item.status) !== 'rejected'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:green"
              >{{ row.item.status }}</b-badge>
            </div>
            <div class="badge-font-size" v-else>
              <b-badge pill block style="font-size:0.7rem;background-color:#B22222">For Outbound</b-badge>
              <!-- display for outbound; but status in db is rejected -->
            </div>
          </template>

          <template v-slot:row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
              </ul>
            </b-card>
          </template>
          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{bottomLabel}}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>

      <!-- weight slip modal -->
      <b-modal
        size="lg"
        header-bg-variant="success"
        header-text-variant="light"
        id="printedqr-modal"
        hide-footer
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Print Weight Slip</h6>
        </template>

        <b-row>
          <b-col v-for="(weightSlip, index) in weightSlips" :key="index">
            <b-card-group deck>
              <b-card>
                <p>Inbound: {{weightSlip.inbound}}</p>
                <p>Outbound: {{weightSlip.outbound}}</p>

                <b>
                  <p style="align:right">Net {{weightSlip.netWeight}}</p>
                </b>

                <button id="printweightslip" class="button1" @click="printWs(index)">
                  <font-awesome-icon style icon="print" />Print
                </button>
              </b-card>
            </b-card-group>
            <br />
          </b-col>
        </b-row>
        <!-- view mrr button; only when there is tracking code -->
        <b-button
          id="viewMrr"
          class="button1"
          @click="openMrr(toBePrint.trackingCode)"
          v-if="toBePrint.trackingCode"
        >
          <font-awesome-icon style icon="eye" />&nbsp; View MRR
        </b-button>
        <!-- end view mrr -->
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import VueHtmlToPaper from "vue-html-to-paper";
import Papa from "papaparse";
import moment from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  components: { DateRangePicker, Loading },

  async created() {
    await this.getReports();
    this.totalRows = this.items.length;
  },

  data() {
    return {
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissSecs: 3,
      statusFilters: [],
      showLoading: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      // pageOptions: [10, 15],
      selectedFilters: ["Delivery", "Withdrawal", "Others"],
      opens: "center",

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      modalShow: false,
      weightSlips: [],
      items: [],
      toBePrint: [],
      fields: [
        {
          key: "created_at",
          label: "Date",
          sortable: true,
          sortDirection: "desc"
        },
        // {
        //   key: "transaction_number",
        //   label: "Transaction Number",
        //   sortable: true,
        //   sortDirection: "desc"
        // },
        {
          key: "tracking_code",
          label: "Tracking Code",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "transaction_type",
          label: "Transaction Type",
          sortable: true,
          class: "text-center"
        },
        {
          key: "raw_material",
          label: "Product",
          sortable: true,
          class: "text-center"
        },
        {
          key: "supplier",
          label: "Supplier",
          sortable: true,
          class: "text-center"
        },
        {
          key: "driver",
          label: "Driver",
          sortable: true,
          class: "text-center"
        },
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          class: "text-center"
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
        // { key: 'actions', label: 'Actions', class: 'text-center' }
      ],

      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedReports.length) {
        end = this.computedReports.length;
      }

      if (this.computedReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedReports.length} entries`;
    },

    computedReports() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(item.status);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(item => {
        return this.selectedFilters.includes(item.status);
      });
    }
  },
  mounted() {},
  methods: {
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    highlightRow(item, type) {
      if (!item || type !== "row") return;
      if (item.status.toLowerCase() === "rejected") return "table-danger";
    },
    openMrr(code) {
      // redirect
      window.open(`${process.env.baseURL}/mrr/${code}`, "_blank");
    },
    convertLowerCase(s) {
      return s.toLowerCase();
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A ");
    },
    async printWs(weightId) {
      const ttype = this.toBePrint.transaction_type;
      var mywindow = window.open("", "PRINT", "height=600,width=1000");
      mywindow.document.write("<html><head><title> </title>");
      mywindow.document.write(
        '<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">'
      );
      mywindow.document.write("</head><body>");

      if (ttype.toLowerCase() == "delivery") {
        const isUnacho = this.unachoOrNot(this.toBePrint.trackingCode);

        //content
        if (!isUnacho) {
          // not unacho
          mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/weightslip.png"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.toBePrint.transaction_number}</p>
            <p>Supplier Code: ${
              this.toBePrint.trackingCode ? this.toBePrint.trackingCode : ""
            }</p>
                <p>Customer: ${this.toBePrint.supplier}</p>
                <p>Address: ${this.toBePrint.supplier_address}</p>
                <p>Commodity: ${this.toBePrint.raw_material}</p>
                <p>Plate # : ${this.toBePrint.plate_number}</p>
                <p>Driver: ${this.toBePrint.driver}</p>
                <p>No. of Bags: ${this.weightSlips[weightId].numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${
                  this.weightSlips[weightId].inbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].inboundDate
                } </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${
                  this.weightSlips[weightId].outbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].outboundDate
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Remarks: ${
                  this.weightSlips[weightId].remarks
                    ? this.weightSlips[weightId].remarks
                    : "No Remarks"
                }</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${
                  this.weightSlips[weightId].netWeight
                }</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
            this.weightSlips[weightId].sign
          }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${
                  this.toBePrint.outbound[0].obWeigher
                }</p> </center>
               
          <br>        
    </div>
  
   
    `);

          mywindow.document.write("</body></html>");
          mywindow.document.addEventListener(
            "load",
            function() {
              mywindow.focus();
            },
            true
          );
        } else {
          // unacho
          mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/unacho.jpg"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.toBePrint.transaction_number}</p>
                <p>Supplier Code: ${
                  this.toBePrint.trackingCode ? this.toBePrint.trackingCode : ""
                }</p>
                <p>Customer: ${this.toBePrint.supplier}</p>
                <p>Address: ${this.toBePrint.supplier_address}</p>
                <p>Commodity: ${this.toBePrint.raw_material}</p>
                <p>Plate # : ${this.toBePrint.plate_number}</p>
                <p>Driver: ${this.toBePrint.driver}</p>
                <p>No. of Bags: ${this.weightSlips[weightId].numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${
                  this.weightSlips[weightId].inbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].inboundDate
                } </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${
                  this.weightSlips[weightId].outbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].outboundDate
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Remarks: ${
                  this.weightSlips[weightId].remarks
                    ? this.weightSlips[weightId].remarks
                    : "No Remarks"
                }</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${
                  this.weightSlips[weightId].netWeight
                }</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
            this.weightSlips[weightId].sign
          }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${
                  this.toBePrint.outbound[0].obWeigher
                }</p> </center>
               
          <br>        
    </div>
  
   
    `);

          mywindow.document.write("</body></html>");
          mywindow.document.addEventListener(
            "load",
            function() {
              mywindow.focus();
            },
            true
          );
        }
      }
      // ####### end if delivery

      if (ttype.toLowerCase() == "others") {
        if (this.toBePrint.trackingCode) {
          // if there is tracking code; determine whether unacho or not
          const isUnacho = this.unachoOrNot(this.toBePrint.trackingCode);

          //content
          if (!isUnacho) {
            // not unacho
            mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/weightslip.png"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.toBePrint.transaction_number}</p>
                <p>Supplier Code: ${
                  this.toBePrint.trackingCode ? this.toBePrint.trackingCode : ""
                }</p>
                <p>Customer: ${this.toBePrint.supplier}</p>
                <p>Address: ${this.toBePrint.supplier_address}</p>
                <p>Commodity: ${this.toBePrint.raw_material}</p>
                <p>Plate # : ${this.toBePrint.plate_number}</p>
                <p>Driver: ${this.toBePrint.driver}</p>
                <p>No. of Bags: ${this.weightSlips[weightId].numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${
                  this.weightSlips[weightId].inbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].inboundDate
                } </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${
                  this.weightSlips[weightId].outbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].outboundDate
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Remarks: ${
                  this.weightSlips[weightId].remarks
                    ? this.weightSlips[weightId].remarks
                    : "No Remarks"
                }</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${
                  this.weightSlips[weightId].netWeight
                }</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
              this.weightSlips[weightId].sign
            }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${
                  this.toBePrint.outbound[0].obWeigher
                }</p> </center>
               
          <br>        
    </div>
  
   
    `);

            mywindow.document.write("</body></html>");
            mywindow.document.addEventListener(
              "load",
              function() {
                mywindow.focus();
              },
              true
            );
          } else {
            // unacho
            mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/unacho.jpg"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.toBePrint.transaction_number}</p>
                <p>Supplier Code: ${
                  this.toBePrint.trackingCode ? this.toBePrint.trackingCode : ""
                }</p>
                <p>Customer: ${this.toBePrint.supplier}</p>
                <p>Address: ${this.toBePrint.supplier_address}</p>
                <p>Commodity: ${this.toBePrint.raw_material}</p>
                <p>Plate # : ${this.toBePrint.plate_number}</p>
                <p>Driver: ${this.toBePrint.driver}</p>
                <p>No. of Bags: ${this.weightSlips[weightId].numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${
                  this.weightSlips[weightId].inbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].inboundDate
                } </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${
                  this.weightSlips[weightId].outbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].outboundDate
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Remarks: ${
                  this.weightSlips[weightId].remarks
                    ? this.weightSlips[weightId].remarks
                    : "No Remarks"
                }</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${
                  this.weightSlips[weightId].netWeight
                }</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
              this.weightSlips[weightId].sign
            }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${
                  this.toBePrint.outbound[0].obWeigher
                }</p> </center>
               
          <br>        
    </div>
  
   
    `);

            mywindow.document.write("</body></html>");
            mywindow.document.addEventListener(
              "load",
              function() {
                mywindow.focus();
              },
              true
            );
          }
        } else {
          // no tracking code
          mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/weightslip.png"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.toBePrint.transaction_number}</p>
                   <p>Supplier Code: ${
                     this.toBePrint.trackingCode
                       ? this.toBePrint.trackingCode
                       : ""
                   }</p>
                <p>Customer: ${this.toBePrint.supplier}</p>
                <p>Address: ${this.toBePrint.supplier_address}</p>
                <p>Commodity: ${this.toBePrint.raw_material}</p>
                <p>Plate # : ${this.toBePrint.plate_number}</p>
                <p>Driver: ${this.toBePrint.driver}</p>
                <p>No. of Bags: ${this.weightSlips[weightId].numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${
                  this.weightSlips[weightId].inbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].inboundDate
                } </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${
                  this.weightSlips[weightId].outbound
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${
                  this.weightSlips[weightId].outboundDate
                }</p>
                <p>&nbsp;&nbsp;&nbsp;Remarks: ${
                  this.weightSlips[weightId].remarks
                    ? this.weightSlips[weightId].remarks
                    : "No Remarks"
                }</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${
                  this.weightSlips[weightId].netWeight
                }</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
            this.weightSlips[weightId].sign
          }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${
                  this.toBePrint.outbound[0].obWeigher
                }</p> </center>
               
          <br>        
    </div>
  
   
    `);

          mywindow.document.write("</body></html>");
          mywindow.document.addEventListener(
            "load",
            function() {
              mywindow.focus();
            },
            true
          );
        }
      }
    },
    unachoOrNot(str) {
      // check if transaction is unacho or not
      let bool = false;

      const s = str.split("-");

      const businessEntity = s[0];

      if (businessEntity.toLowerCase() == "unc") {
        bool = true;
      }
      return bool;
    },
    openModal(items, index) {
      const status = items.status;
      // only completed transactions;
      if (status.toLowerCase() == "completed") {
        this.weightSlips = [];
        // console.log(items);
        this.toBePrint = items;
        for (let i = 0; i < items.inbound.length; i++) {
          let netWeight = null;

          if (items.transaction_type.toLowerCase() !== "withdrawal") {
            netWeight = items.inbound[i].ibWeight - items.outbound[i].obWeight;
          } else {
            netWeight = items.outbound[i].obWeight - items.inbound[i].ibWeight;
          }

          this.weightSlips.push({
            inboundDate: moment(
              `${moment(items.inbound[i].ibUpdateDate).format("MM-DD-YYYY")} ${
                items.inbound[i].ibUpdateTime
              }`
            ).format("MMM DD, YYYY hh:mm A "),
            outboundDate: moment(
              `${moment(items.outbound[i].obUpdateDate).format("MM-DD-YYYY")} ${
                items.outbound[i].obUpdateTime
              }`
            ).format("MMM DD, YYYY hh:mm A "),
            inbound: this.commaSeparate(items.inbound[i].ibWeight),
            outbound: this.commaSeparate(items.outbound[i].obWeight),
            netWeight: this.commaSeparate(netWeight.toFixed(3)),
            numBags: items.numBags ? items.numBags : 0,
            sign: items.outbound[i].obSign,
            remarks: items.outbound[i].obRemarks
          });
        }
        this.$bvModal.show("printedqr-modal");
      } else {
        this.errorMsg = "Transaction is not yet completed.";
        this.showAlertErr();
      }
    },
    async print() {
      const data = this.items;
      let prints = []; // hold data to be print

      for (let i = 0; i < data.length; i++) {
        const e = data[i];

        prints.push({
          date: this.formatDate(e.created_at),
          code: e.tracking_code ? e.tracking_code.toUpperCase() : "",
          ttype: e.transaction_type ? this.convertCase(e.transaction_type) : "",
          items: e.raw_material ? this.convertCase(e.raw_material) : "",
          supplier: e.supplier ? this.convertCase(e.supplier) : "",
          driver: e.driver ? this.convertCase(e.driver) : "",
          plate_number: e.plate_number ? e.plate_number.toUpperCase() : "",
          status: this.convertCase(e.status)
        });
      }

      const doc = new jsPDF();
      doc.setFontSize(18);
      doc.text("Biotech Farms Incorporated", 65, 12);
      doc.setFontSize(12);
      doc.text("TRANSACTIONS REPORTS", 71, 17);
      doc.autoTable({
        theme: "striped",
        headStyles: { fillColor: [40, 167, 69] },
        margin: { top: 2, right: 2, bottom: 0, left: 2 },
        styles: { fontSize: 6, cellWidth: "auto" },
        columns: [
          { header: "Date Created", dataKey: "date" },
          { header: "Tracking Code", dataKey: "code" },
          { header: "Transaction Type", dataKey: "ttype" },
          { header: "Items", dataKey: "items" },
          { header: "Suppliers", dataKey: "supplier" },
          { header: "Driver", dataKey: "driver" },
          { header: "Plate Number", dataKey: "plate_number" },
          { header: "Status", dataKey: "status" }
        ],
        body: prints,
        margin: { top: 28 }
      });

      // if you want to save; disable comment;
      // doc.save(
      //   `TSIS-Transaction Reports - ${moment().format("DD MMM, YYYY")}.pdf`
      // );

      // disable if you want to autoprint;
      // doc.autoPrint();

      // disable if you want to open new tab pdf.
      window.open(doc.output("bloburl"), "_blank");
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      } else {
        return `00:00`;
      }
    },
    exportReports() {
      let data = [];

      for (let i = 0; i < this.items.length; i++) {
        const e = this.items[i];
        const ib = e.inbound;
        const ob = e.outbound;
        // inbound and outbound array has the same length ALWAYS! moment(created_at).format("MMM DD, YYYY hh:mm A ");
        for (let x = 0; x < ib.length; x++) {
          const ibs = ib[x];
          const obs = ob[x];

          const netWeight = ibs.ibWeight - obs.obWeight;

          data.push({
            ["Delivery Date"]: this.formatDate(e.created_at),
            ["Wt Slip #"]: e.transaction_number,
            ["Transaction Type"]: e.transaction_type,
            Status: e.status,
            ["FSQR Supplier Code"]: e.trackingCode ? e.trackingCode : "",
            Supplier: e.supplier ? e.supplier : "",
            Items: e.raw_material ? e.raw_material : "",
            ["Quantity (# of Bags)"]: e.numBags ? e.numBags : 0,
            Driver: e.driver ? e.driver : "",
            ["Plate Number"]: e.plate_number ? e.plate_number : "",
            ["Inbound Weight"]: ibs.ibWeight ? ibs.ibWeight : 0,
            ["Inbound Date Time"]: ibs.ibUpdateDate
              ? this.formatDate(
                  `${moment(ibs.ibUpdateDate).format("YYYY-MM-DD")} ${
                    ibs.ibUpdateTime
                  }`
                )
              : "",
            ["Outbound Weight"]: obs.obWeight ? obs.obWeight : 0,
            ["Outbound Date Time"]: obs.obUpdateDate
              ? this.formatDate(
                  `${moment(obs.obUpdateDate).format("YYYY-MM-DD")} ${
                    obs.obUpdateTime
                  }`
                )
              : "",
            ["NET Weight"]: netWeight
          });
        }
      }

      const csv = Papa.unparse(data, { header: true });
      let csvData = new Blob([csv], { type: "text/csv;charset=utf-8;" });
      let csvURL = null;
      if (navigator.msSaveBlob) {
        csvURL = navigator.msSaveBlob(csvData, `${moment().format()}.csv`);
      } else {
        csvURL = window.URL.createObjectURL(csvData);
      }
      var tempLink = document.createElement("a");
      tempLink.href = csvURL;
      tempLink.setAttribute("download", `${moment().format()}.csv`);
      tempLink.click();
    },
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.transaction_number}`);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // convert integer time to time format
    async getReports() {
      try {
        this.items = [];
        this.selectedFilters = [];
        this.statusFilters = [];
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/reports/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              from: this.dateRange.date_from,
              to: this.dateRange.date_to,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          if (res.status == 200) {
            const data = res.data.view;
            for (let i = 0; i < data.length; i++) {
              const e = data[i];
              if (localStorage.role === "document controller") {
                if (e.transactionType.toLowerCase() == "withdrawal") {
                  // phase 2
                }
              }
              if (localStorage.role.toLowerCase() == "napier controller") {
                if (e.isNapier !== 0) {
                  // only napier transactions

                  const data = e.weightDetails;
                  let inbound = [];
                  let outbound = [];
                  for (let i = 0; i < data.length; i++) {
                    const e = data[i];
                    inbound.push({
                      ibWeight: e.ibWeight,
                      ibUpdateDate: e.ibUpdateDate,
                      ibUpdateTime: this.intToTime(e.ibUpdateTime),
                      ibWeigher: e.ibWeigher
                    });

                    outbound.push({
                      obWeight: e.obWeight,
                      obRemarks: e.obRemarks,
                      obUpdateDate: e.obUpdateDate,
                      obUpdateTime: this.intToTime(e.obUpdateTime),
                      obSign: e.obSign,
                      obWeigher: e.obWeigher
                    });
                  }
                  this.items.push({
                    created_at: `${e.createDate} ${this.intToTime(
                      e.createTime
                    )}`,
                    transaction_number: e.id,
                    tracking_code: e.trackingCode ? e.trackingCode : "",
                    transaction_type: this.convertCase(e.transactionType),
                    raw_material: e.items ? this.convertCase(e.items) : "",
                    supplier: e.supplier ? this.convertCase(e.supplier) : "",
                    driver: this.convertCase(e.driverName),
                    plate_number: e.plateNumber
                      ? e.plateNumber.toUpperCase()
                      : e.plateNumber,
                    status: this.convertCase(e.status),
                    inbound: inbound,
                    outbound: outbound,
                    numBags: e.numberOfBags,
                    supplier_address: e.supplierAddress
                      ? this.convertCase(e.supplierAddress)
                      : "",
                    trackingCode: e.trackingCode
                  });

                  // push all status for filter
                  if (
                    !this.statusFilters.includes(this.convertCase(e.status))
                  ) {
                    this.statusFilters.push(this.convertCase(e.status));
                    this.selectedFilters.push(this.convertCase(e.status));
                  }
                }
              } else {
                // none napier only
                if (e.isNapier == 0) {
                  // only napier transactions

                  const data = e.weightDetails;
                  let inbound = [];
                  let outbound = [];
                  for (let i = 0; i < data.length; i++) {
                    const e = data[i];
                    inbound.push({
                      ibWeight: e.ibWeight,
                      ibUpdateDate: e.ibUpdateDate,
                      ibUpdateTime: this.intToTime(e.ibUpdateTime),
                      ibWeigher: e.ibWeigher
                    });

                    outbound.push({
                      obWeight: e.obWeight,
                      obRemarks: e.obRemarks,
                      obUpdateDate: e.obUpdateDate,
                      obUpdateTime: this.intToTime(e.obUpdateTime),
                      obSign: e.obSign,
                      obWeigher: e.obWeigher
                    });
                  }
                  this.items.push({
                    created_at: `${e.createDate} ${this.intToTime(
                      e.createTime
                    )}`,
                    transaction_number: e.id,
                    tracking_code: e.trackingCode ? e.trackingCode : "",
                    transaction_type: this.convertCase(e.transactionType),
                    raw_material: e.items ? this.convertCase(e.items) : "",
                    supplier: e.supplier ? this.convertCase(e.supplier) : "",
                    driver: this.convertCase(e.driverName),
                    plate_number: e.plateNumber
                      ? e.plateNumber.toUpperCase()
                      : e.plateNumber,
                    status: this.convertCase(e.status),
                    inbound: inbound,
                    outbound: outbound,
                    numBags: e.numberOfBags,
                    supplier_address: e.supplierAddress
                      ? this.convertCase(e.supplierAddress)
                      : "",
                    trackingCode: e.trackingCode
                  });

                  // push all status for filter
                  if (
                    !this.statusFilters.includes(this.convertCase(e.status))
                  ) {
                    this.statusFilters.push(this.convertCase(e.status));
                    this.selectedFilters.push(this.convertCase(e.status));
                  }
                }
              }
            }

            this.showLoading = false;
          }
        } else {
          // offline mode
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/reports/select/transactions/completed`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              from: this.dateRange.date_from,
              to: this.dateRange.date_to
            }
          });

          for (let i = 0; i < res.data.view.length; i++) {
            if (localStorage.role === "document controller") {
              if (res.data.view[i].transaction_type === "Withdrawal") {
                this.items.push({
                  created_at: res.data.view[i].created_at,
                  transaction_number: res.data.view[i].id,
                  transaction_type: res.data.view[i].transaction_type,
                  raw_material: res.data.view[i].raw_material,
                  supplier: res.data.view[i].supplier,
                  driver: `${res.data.view[i].driver.firstname} ${res.data.view[i].driver.lastname}`,
                  weigher: res.data.view[i].weigher,
                  plate_number: res.data.view[i].plate_number,
                  status: res.data.view[i].status,
                  inbound: res.data.view[i].inbound,
                  outbound: res.data.view[i].outbound
                });
              }
            } else {
              this.items.push({
                created_at: res.data.view[i].created_at,
                transaction_number: res.data.view[i].id,
                transaction_type: res.data.view[i].transaction_type,
                raw_material: res.data.view[i].raw_material,
                supplier: res.data.view[i].supplier,
                driver: `${res.data.view[i].driver.firstname} ${res.data.view[i].driver.lastname}`,
                weigher: res.data.view[i].weigher,
                plate_number: res.data.view[i].plate_number,
                status: res.data.view[i].status,
                inbound: res.data.view[i].inbound,
                outbound: res.data.view[i].outbound
              });
            }
          }
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get reports: ", e);
      }
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      }
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      this.getReports();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getReports();

      this.totalRows = this.items.length;
    }
  },
  layout: "sidebar"
};
</script>

<style >
.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

@media print {
  #printable {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  html {
    background-color: #eee;
  }

  .color1 {
    color: #00803e;
  }
  .icon {
    margin-left: 5px;
    margin-right: 10px;
  }
  .button1 {
    background-color: #00803e;
    color: white;
  }
  .button2 {
    background-color: #ff6600;
    color: white;
  }
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
</style>
