<template>
  <div class="wrapper">
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header">
        <div>
          <!-- <button class="openbtn" @click="openNav()">☰</button>   -->
          <b-img src="/ts.png" style="width:100%; height:100%" center></b-img>
        </div>
        <hr class="hr" />
        <!--         
          <b-tab class="button1" pills v-for="(link, index) in links" :key="index" active>
            <router-link :to="link.path">
              <font-awesome-icon :icon="link.icon" class="icon" />
                {{link.description}}
            </router-link>
        </b-tab>-->

        <ul class="list-unstyled">
          <li v-if="role !== 'document controller'">
            <router-link :id="'sb-default'" to="/default">
              <font-awesome-icon icon="tachometer-alt" class="icon" />Dashboard
            </router-link>
          </li>

          <li v-if="checkAdmin">
            <a
              id="sb-admin"
              v-b-toggle.collapse-1
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <font-awesome-icon icon="user-cog" class="icon" />Admin Dashboard
            </a>

            <b-collapse id="collapse-1" class="mt-1 ml-2">
              <li v-for="(adminsubmenu, index) in activeadminsubmenus" :key="index">
                <router-link :id="'sb-' + index" :to="adminsubmenu.path">
                  <font-awesome-icon :icon="adminsubmenu.icon" class="icon" />
                  {{ adminsubmenu.description }}
                </router-link>
              </li>
            </b-collapse>
          </li>

          <li v-for="(link, index) in activelinks" :key="index">
            <router-link :id="'sb1-' + index" :to="link.path">
              <font-awesome-icon :icon="link.icon" class="icon" />
              {{ link.description }}
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
    <!-- HEADER NAVIGATION BAR-->

    <div class="right">
      <b-row>
        <!-- notif bell -->
        <!-- <b-col id="bell1" style="margin-top:12px;position:relative; top:10px; left:20px;">
          <b-button id="bell" variant="light" class="bell">
            <div v-if="forTransmittalNotif > 0">
              <b-badge
                style="font-size:10px; position: absolute; left: 5vh;"
                variant="danger"
              >{{ forTransmittalNotif }}</b-badge>
              <font-awesome-icon
                style="color:black;height:25px;width:25px"
                icon="bell"
                class="icon1"
              />
            </div>
            <div v-else>
              <font-awesome-icon
                style="color:black;height:25px;width:25px"
                icon="bell"
                class="icon1"
              />
            </div>
            <b-popover
              id="numberofnotif"
              target="popover-button-variant"
              triggers="focus"
              placement="left"
            >
              <template v-slot:title>Notification</template>
              You have receive {{ forTransmittalNotif }} purchase order
            </b-popover>
          </b-button>
        </b-col>-->
        <!-- end notif bell -->
        <b-col style="margin-top:12px;position:relative; top:10px">
          <font-awesome-icon style="color:black;height:25px;width:25px" icon="user" class="icon1" />
        </b-col>
        <b-col style="margin:auto">
          <b-row>
            <b style="margin-top:5px;font-size:10px;font-size:12px">{{ user }}&nbsp;</b>
          </b-row>
          <b-row>
            <b-badge class="primary" style="margin-top:5px;font-size:9px">
              {{
              role
              }}
            </b-badge>
          </b-row>
        </b-col>
        <b-col id="btnLO" style="margin-top:12px; position:relative; top:4px">
          <b-button id="btnLogout" variant="none" @click="logout">
            <font-awesome-icon style="color:red;height:22px;width:22px" icon="power-off" />
          </b-button>
        </b-col>
      </b-row>
    </div>

    <div class="content">
      <nuxt />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import io from "socket.io-client";

export default {
  async created() {
    // notifs
    await this.connectSocket();

    this.role = localStorage.role;
    this.modules = JSON.parse(localStorage.modules);

    //loop adminmenus
    for (let i = 0; i < this.adminsubmenus.length; i++) {
      //loop through modules localstorage
      for (let i2 = 0; i2 < this.modules.length; i2++) {
        for (let i3 = 0; i3 < this.modules[i2].actions.length; i3++) {
          if (
            this.adminsubmenus[i].action ===
              this.modules[i2].actions[i3].actionname &&
            this.modules[i2].modulestatus === "active" &&
            this.modules[i2].actions[i3].actionstatus === "active"
          ) {
            this.activeadminsubmenus.push(this.adminsubmenus[i]);
          }
        }
      }
    }

    //loop menus
    for (let i = 0; i < this.links.length; i++) {
      //loop through modules localstorage
      for (let i2 = 0; i2 < this.modules.length; i2++) {
        for (let i3 = 0; i3 < this.modules[i2].actions.length; i3++) {
          if (
            this.links[i].action === this.modules[i2].actions[i3].actionname &&
            this.modules[i2].modulestatus === "active" &&
            this.modules[i2].actions[i3].actionstatus === "active"
          ) {
            this.activelinks.push(this.links[i]);
          }
        }
      }
    }
  },
  data() {
    return {
      myInterval: null,
      role: "Truck Scale Controller",
      user: localStorage.name,
      modules: [],
      activeadminsubmenus: [],
      activelinks: [],

      adminsubmenus: [
        {
          path: "/admin/modules",
          icon: "cubes",
          description: "Modules",
          action: "view modules"
        },
        {
          path: "/admin/actions",
          icon: "tasks",
          description: "Actions",
          action: "view actions"
        },
        {
          path: "/admin/accessrights",
          icon: "fingerprint",
          description: "Roles & Access",
          action: "view roles"
        },
        {
          path: "/admin/user",
          icon: "id-badge",
          description: "Users",
          action: "view users"
        },
        {
          path: "/truckscale",
          icon: "truck-loading",
          description: "Truckscale",
          action: "view truckscales"
        },
        {
          path: "/admin/activitylogs",
          icon: "mouse",
          description: "Activity Logs",
          action: "view modules"
        }
      ],
      links: [
        {
          path: "/transaction",
          icon: "file-signature",
          description: "Transactions",
          action: "view transactions"
        },

        {
          path: "/truck",
          icon: "truck",
          description: "Trucks",
          action: "view trucks"
        },
        {
          path: "/driver",
          icon: "user-circle",
          description: "Drivers",
          action: "view drivers"
        },
        {
          path: "/report",
          icon: "file-alt",
          description: "Reports",
          action: "view reports"
        }
      ],

      forTransmittalNotif: 0 // notif for transmittal
    };
  },

  methods: {
    logout() {
      // stop the interval to emit to socket;
      clearInterval(this.myInterval);
      localStorage.clear();
      this.$router.push(`/`);
    },

    openNav() {
      document.getElementById("sidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    },

    async connectSocket() {
      try {
        const socket = io.connect(`${this.$axios.defaults.baseURL}`); //connect to server

        this.myInterval = setInterval(() => {
          socket.emit("status");
        }, 3000);
      } catch (e) {
        console.log(e);
      }
    },

    async displayDatas(val) {
      try {
        this.forTransmittalNotif = val.count;
      } catch (e) {
        console.log("Error: ", e);
      }
    }
  },

  computed: {
    checkAdmin() {
      for (let i = 0; i < this.modules.length; i++) {
        if (this.modules[i].modulename.toLowerCase() === "admin") {
          return true;
        }
      }
      return false;
    }
  }
};
</script>

<style scoped>
a[data-toggle="collapse"] {
  position: relative;
  /* font-size: large; */
}
.dropdown-toggle::after {
  display: fixed;
  position: absolute;
  top: 50%;
  right: 10px;
  /* transform: translateY(-50%); */
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.primary {
  background-color: #00a651;
}
.icon {
  margin-left: 10px;
  margin-right: 13px;
}
.icon1 {
  margin-left: 10px;
  margin-right: 5px;
}
.hr {
  background-color: white;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 3px;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too #11634a*/
  background-color: #01401f;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* display: flex;
  width: 100%;
  align-items: stretch; */
}
#sidebar.active {
  margin: auto;
}
#sidebar .sidebar-header {
  padding: 10px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}
#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #fff;
  font-size: 15px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: #00803e;
  border-radius: 3px;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #00803e;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}
.content {
  width: 80%;
  position: absolute;
  left: 16rem;
  top: 2rem;
}
.right {
  position: absolute;
  right: 25px;
}

.bell {
  position: relative;
  left: 1vh;
  top: 0vh;
  padding: 0;
  border: none;
  background: none;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
  }
  
  .content {margin-left: 0;}
} */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* @media screen and (max-width: 400px) {
  .sidebar  {
    text-align: center;
    float: none;
  }
} */
</style>
