<template>
  <div class="my-3 ml-2" id="requests-view">
    <h4 class="color1 ml-4">ACTIVITY LOGS</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="searchinput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="btnClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="4">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <div id="printTable">
        <b-table
          id="table"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template v-slot:cell(details)="row">
            <b-button id="btnDetails" size="sm" @click="row.toggleDetails" class="mr-2">Details</b-button>
          </template>

          <template v-slot:row-details="row">
            <b-card>
              <b-row>
                <b-col cols="6">
                  <h6>Previous</h6>
                  <b-card>
                    <div
                      keyText
                      v-for="(value, name) in row.item.oldValues"
                      :key="name"
                      class="ml-1 mr-1"
                    >
                      <strong class="key">{{name}}</strong>

                      <p>&nbsp;{{value}}</p>
                      <p v-if="row.item.changedVals.includes(name)">red</p>
                    </div>
                  </b-card>
                </b-col>

                <b-col cols="6">
                  <h6>New</h6>
                  <b-card>
                    <div
                      keyText
                      v-for="(value, name) in row.item.newValues"
                      :key="name"
                      class="ml-1 mr-1"
                    >
                      <strong class="key">{{name}}</strong>

                      <p>&nbsp;{{value}}</p>
                      <p v-if="row.item.changedVals.includes(name)">red</p>
                    </div>
                  </b-card>
                </b-col>
              </b-row>
            </b-card>
          </template>
          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{bottomLabel}}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>
    </b-card>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
export default {
  components: { DateRangePicker },

  async created() {
    await this.getLogs();
    this.totalRows = this.items.length;
  },

  data() {
    return {
      opens: "center",
      currentPage: 1,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      items: [],

      fields: [
        {
          key: "employee",
          label: "Employee",
          sortable: true
        },
        {
          key: "action",
          label: "Action",
          sortable: true,
          class: "text-center"
        },
        {
          key: "table",
          label: "Table",
          sortable: true,
          class: "text-center"
        },
        {
          key: "created_at",
          label: "Date",
          sortable: true,
          class: "text-center"
        },
        {
          key: "details",
          label: "Details",
          sortable: true,
          class: "text-center"
        }
      ],
      perPage: 10,
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: []
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    async getLogs() {
      try {
        this.items = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/select-logs`,
          headers: {
            authorization: "Bearer " + localStorage.token
          },
          data: {
            dateRange: this.dateRange,
            created_at: this.created_at
          }
        });

        if (res.status === 200) {
          // console.log(res);
          for (let i = 0; i < res.data.view.length; i++) {
            let changedVals = [];
            let name = `${res.data.view[i].users.firstname} ${res.data.view[i].users.lastname}`;
            let prevVal = JSON.parse(res.data.view[i].prev_values);
            let newVal = JSON.parse(res.data.view[i].new_values);

            //FOR COMPARISON
            //  for(let i=0; i < Object.entries(prevVal).length; i++){
            //      if(Object.entries(prevVal)[i][0] === 'role'){
            //          if(
            //              Object.entries(prevVal)[i][1].name !== Object.entries(newVal)[i][1].name
            //          ){
            //              changedVals.push(Object.entries(prevVal)[i][0])
            //          }

            //      }else if(Object.entries(prevVal)[i][1] !== Object.entries(newVal)[i][1]){

            //          changedVals.push(Object.entries(prevVal)[i][0])
            //      }
            // }

            this.items.push({
              employee: name,
              action: res.data.view[i].action_type,
              table: res.data.view[i].table_affected,
              oldValues: prevVal,
              newValues: newVal,
              changedVals,
              created_at: moment(res.data.view[i].created_at).format(
                "MMM DD, YYYY hh:mm A"
              )
            });
          }
        }
      } catch (e) {}
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      this.getLogs();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      await this.getLogs();
      this.totalRows = this.items.length;
    }
  }
};
</script>

<style>
.reportrange-text[data-v-1cd3ebdc] {
  /* background: #fff; */
  /* cursor: pointer; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 11rem;
  font-size: 12px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.printTable {
  padding: 100 !important;
  table-layout: fixed;
}
/* .right {
  position: absolute;
  left: 25px;
} */
</style>
