<template>
  <div class="body">
    <main>
      <LoginForm />
    </main>
  </div>
</template>

<script>
import LoginForm from "@/components/Login/LoginForm";
export default {
  name: "LoginUI",
  layout: "loginLayout",
  components: {
    LoginForm
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
