<template>
  <!-- DIVISION -->
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <!-- HEADER NAME -->
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="truck" class="icon" />TRUCKSCALE
    </h4>
    <!-- HEADER NAME END-->
    <!--HEADER CARD  -->
    <b-card class="my-4 mr-4 ml-4">
      <!-- CARD 1 -->
      <div class="my-2 mr-4 ml-4">
        <!-- MODAL Update -->
        <b-modal v-model="tsModal" title="Update Truckscale">
          <b-container fluid>
            <b-form-group
              id="input-group-2"
              label-for="input-2"
              style="font-size:13px"
              v-if="selectedTruckScale"
            >
              <!--  -->
              <b-form-group id="TruckScale" label="Truckscale Name" label-for="input-1">
                <b-form-input
                  id="inputTruckScaleName"
                  required
                  placeholder="Truckscale name"
                  v-model="selectedTruckScale.truckscale_name"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-2" label="Truckscale Location" label-for="input-2">
                <b-form-input
                  id="inputTruckScaleLocation"
                  required
                  placeholder="Truckscale location"
                  v-model="selectedTruckScale.truckscale_location"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-3" label="Truckscale Length" label-for="input-3">
                <b-form-input
                  id="inputTruckScaleLength"
                  type="number"
                  v-model="selectedTruckScale.truckscale_length"
                  required
                  placeholder="Truckscale length"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-4" label="Device baudrate" label-for="input-4">
                <b-form-input
                  id="inputBaudrate"
                  type="number"
                  v-model="selectedTruckScale.baudrate"
                  required
                  placeholder="Baud rate"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-5" label="Device IP Address" label-for="input-2">
                <b-form-input
                  id="inputTruckScaleIPAddress"
                  required
                  placeholder="Truckscale IP Address"
                  v-model="selectedTruckScale.ip_address"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-6" label="Device Name" label-for="input-2">
                <b-form-input
                  id="inputTruckScaleDeviceName"
                  required
                  placeholder="Truckscale Device Name"
                  v-model="selectedTruckScale.device_name"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>
              <!--  -->
            </b-form-group>
          </b-container>

          <template v-slot:modal-footer>
            <div class="w-100 float-right">
              <b-button
                id="btnCloseModal"
                @click="closeModal"
                variant="danger"
                class="mr-2"
                size="sm"
              >Close</b-button>
              <b-button
                id="btnUpdateModal"
                variant="primary"
                size="sm"
                class="button1"
                @click="updateTruckscale"
              >Save</b-button>
            </div>
          </template>
          <!-- ALERT SUCCESSFULL -->
          <b-alert
            :show="showError"
            dismissible
            fade
            class="red alert"
            @dismiss-count-down="countDownChanged"
          >{{errorMsg}}</b-alert>

          <!-- ALERT SUCCESSFULL END -->
        </b-modal>
        <!-- MODAL Update END -->

        <!-- TABLE HEADER -->
        <b-row>
          <b-col>
            <b-form-group
              style="font-size:13px"
              label="Search"
              label-cols-sm="3"
              label-align-sm="left"
              label-size="sm"
              label-for="filterInput"
            >
              <b-input-group size="sm">
                <b-form-input
                  style="font-size:13px"
                  type="search"
                  id="inputSearch"
                  label-align-sm="left"
                  placeholder="Type to Search"
                  v-model="filter"
                ></b-form-input>
                <b-input-group-append>
                  <b-button id="buttonClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <!-- TABLE HEADER END -->

          <!-- MODULE TABLE -->
          <b-table
            id="table"
            class="my-1"
            style="font-size:13px"
            show-empty
            small
            scrollable
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered"
          >
            <!-- ACTIONS TABLE -->
            <template v-slot:cell(actions)="row">
              <b-button
                id="buttonEditTruckScale"
                block
                class="button1"
                size="sm"
                @click="openModal(row)"
              >
                <font-awesome-icon icon="edit" class="icon" />
              </b-button>
            </template>
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{ bottomLabel }}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
            <!-- ACTIONS TABLE END -->
          </b-table>
          <!-- MODULE TABLE END -->

          <!-- PAGINATION
            <b-col sm="7" md="3" class="mr-0">
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
              ></b-pagination>
            </b-col>
          -->
          <!-- TABLE FOOTER -->

          <!-- TABLE FOOTER END -->
        </b-row>

        <!-- success -->
        <b-alert
          :show="showSuccess"
          dismissible
          fade
          class="green alert"
          @dismiss-count-down="countDownChangedSuccess"
        >{{successMsg}}</b-alert>
      </div>
      <b-alert
        :show="showError"
        dismissible
        fade
        class="red alert"
        @dismiss-count-down="countDownChanged"
      >{{errorMsg}}</b-alert>
      <!-- CARD 1 END -->

      <br />
      <!-- <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group> -->
    </b-card>
    <!-- HEADER CARD END -->
  </div>
  <!-- DIVISION END -->
</template>


<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  data() {
    return {
      showLoading: false,
      //Modal Action
      perPage: 5,
      tsModal: false,
      //Table
      totalRows: 1,
      currentPage: 1,
      dismissSecs: 3,
      dismissCountDown: 0,
      items: [],
      selectedTruckScale: null,
      //TABLE HEADER
      fields: [
        { key: "truckscale_name", label: "Truckscale Name", sortable: true },
        {
          key: "truckscale_location",
          label: "Truckscale Location",
          sortable: true
        },
        {
          key: "truckscale_length",
          label: "Truckscale Length",
          sortable: true
        },
        { key: "created_at", label: "Date Created", sortable: true },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      errorMsg: null,
      showError: 0,
      successMsg: null,
      dismissSecs: 3,
      showSuccess: 0
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  async created() {
    await this.getTruckScales();
    this.totalRows = this.items.length;
    this.currentPage = 1;
  },
  methods: {
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    // show success msg

    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    showAlertSuccess() {
      this.showSuccess = this.dismissSecs;
    },
    // end show msg success
    // show error msg
    countDownChanged(showError) {
      if (this.tsModal === true) {
        this.showError = showError;
      }
    },
    showAlert() {
      this.showError = this.dismissSecs;
    },
    // end show error msg
    async getTruckScales() {
      try {
        this.items = [];
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          this.showLoading = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.items.push({
              id: e.Code,
              truckscale_name: this.convertCase(e.U_TS_TRSCALE),
              truckscale_location: this.convertCase(e.U_TS_TR_LOCATION),
              truckscale_length: e.U_TS_TR_LENGTH,
              created_at: e.U_TS_CREATEDATE,
              ip_address: e.U_TS_TR_IP,
              device_name: this.convertCase(e.U_TS_DEVICE),
              baudrate: e.U_TS_BAUDRATE ? e.U_TS_BAUDRATE : 9600
            });
          }
        } else {
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-scale/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          this.items = res.data.view;
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlert();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlert();
          }
        } else {
        }
      }
    },
    openModal(row) {
      const data = row.item;
      // pass data from selected row
      this.selectedTruckScale = {
        id: data.id,
        truckscale_name: data.truckscale_name,
        truckscale_location: data.truckscale_location,
        truckscale_length: data.truckscale_length,
        ip_address: data.ip_address,
        device_name: data.device_name,
        baudrate: data.baudrate,
        parity: "none",
        databits: "8",
        stopbits: "1",
        users_id: localStorage.id // for logs
      };
      this.tsModal = true;
    },
    closeModal() {
      this.selectedTruckScale = null;
      this.tsModal = false;
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async updateTruckscale() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-scale/update/${this.selectedTruckScale.id}`,
            headers: {
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              U_TS_TRSCALE: this.selectedTruckScale.truckscale_name,
              U_TS_TR_LOCATION: this.selectedTruckScale.truckscale_location,
              U_TS_TR_LENGTH: this.selectedTruckScale.truckscale_length,
              U_TS_TR_IP: this.selectedTruckScale.ip_address,
              U_TS_DEVICE: this.selectedTruckScale.device_name,
              U_TS_BAUDRATE: this.selectedTruckScale.baudrate,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.data.patched.status;
          if (status == 204) {
            this.successMsg = "Updated successfully.";
            await this.showAlertSuccess();
            this.closeModal();
            await this.getTruckScales();
          }
        } else {
          // offline mode
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-scale/update/${this.selectedTruckScale.id}`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              ...this.selectedTruckScale
            }
          });
          this.successMsg = res.data.patched.msg;
          await this.showAlertSuccess();
          this.closeModal();
          await this.getTruckScales();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlert();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlert();
          }
        } else {
          this.errorMsg = e.response.data.error;
          this.showAlert();
        }
      }
    }
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>