<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->

  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">TRANSACTIONS</h4>
    <b-button
      id="show-btn"
      style="margin-top:20px"
      class="ml-4 button1"
      @click="$bvModal.show('bv-modal-example')"
    >
      <font-awesome-icon icon="add" class="icon" />NEW TRANSACTION
    </b-button>

    <b-card class="my-4 mr-4 ml-4">
      <b-modal id="bv-modal-example" hide-footer>
        <template v-slot:modal-title>NEW TRANSACTION</template>
        <div class="d-block text-center">
          <div>
            <b-form id="formTransaction" @submit="saveTransaction">
              <b-form-group>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Transaction type:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-select
                      id="selectTransactionType"
                      size="md"
                      v-model="transactionType"
                      :options="transactionOptions"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <div v-if="transactionType === 'delivery'">
                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Tracking code:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input id="inputTrackingCode" size="md" v-model="trackingCode"></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>No. of bags:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input
                        id="inputNumberofBags"
                        type="number"
                        size="md"
                        v-model="numberOfBags"
                      ></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Plate Number:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectPlateNumber"
                        size="md"
                        v-model="plateNumber"
                        :options="plateNumberOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Driver:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectDriver"
                        size="md"
                        v-model="driver"
                        :options="driverOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>
                  <hr />
                  <b-button id="btnSaveTransactions" type="submit" class="ml-10 button1">Save</b-button>
                </div>

                <div v-if="transactionType === 'others'">
                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Plate Number:</label>
                    </b-col>
                    <b-col sm="8">
                      <!-- <b-form-select
                        size="md"
                        id="selectPlatenumber"
                        v-model="plateNumber"
                        :options="plateNumberOptions"
                      ></b-form-select>-->

                      <vue-bootstrap-typeahead
                        id="plateNumberFilter"
                        v-model="plateNumberFilter"
                        :data="plateNumberOptions"
                        required
                        @hit="returnPlateNumberId()"
                        style="font-size:11px"
                      />
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Driver:</label>
                    </b-col>
                    <b-col sm="8">
                      <!-- <b-form-select
                        id="selectDriver"
                        size="md"
                        v-model="driver"
                        :options="driverOptions"
                      ></b-form-select>-->

                      <vue-bootstrap-typeahead
                        id="driverFilter"
                        v-model="driverFilter"
                        :data="driverOptions"
                        required
                        @hit="returnDriverId()"
                        style="font-size:11px"
                      />
                    </b-col>
                  </b-row>
                  <hr />
                  <b-button id="btnSaveTransactions" type="submit" class="ml-10 button1">Save</b-button>
                </div>

                <div v-if="transactionType === 'withdrawal'">
                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>PO:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select id="selectPO" size="md" v-model="po" :options="pos"></b-form-select>
                    </b-col>
                  </b-row>
                  <hr />
                  <b-button id="btnSaveTransactions" type="submit" class="ml-10 button1">Save</b-button>
                </div>
              </b-form-group>
            </b-form>
          </div>
        </div>
        <!-- error msg -->
        <b-alert
          id="alertdanger"
          :show="dismissCountDownErr"
          dismissible
          fade
          class="err fixed"
          @dismiss-count-down="countDownChangedErr"
        >{{ errorMsg }}</b-alert>
        <!-- ALERT SUCCESSFULL END -->
      </b-modal>

      <!-- Transmittal modal -->
      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="bv-modal-transmittal"
        no-close-on-backdrop
        hide-footer
      >
        <template v-slot:modal-title>
          <h6>Transmittal</h6>
        </template>

        <!-- <b-row>
        <b-col>
          <small for="input-small">Supplier</small>
          <b-form-select
            id="input-small"
            v-model="transmittalForm.supplier"
            :options="supplierOptions"
            size="sm"
          ></b-form-select>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <small for="input-small">Raw Material</small>
          <b-form-select
            id="input-small"
            v-model="transmittalForm.raw_material"
            :options="itemOptions"
            size="sm"
          ></b-form-select>
        </b-col>
        </b-row>-->

        <b-row>
          <b-col>
            <small for="input-small">Location Delivery</small>
            <b-form-input
              id="inputLocationDelivery"
              v-model="transmittalForm.location_delivery"
              type="text"
              size="sm"
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Warehouse Location</small>
            <b-form-input
              id="inputWarehouseLocation"
              v-model="transmittalForm.warehouse_location"
              type="text"
              size="sm"
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Number of Bags</small>
            <b-form-input
              id="inputNumberofBags"
              v-model="transmittalForm.number_of_bags"
              type="number"
              size="sm"
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Transmittal Number</small>
            <b-form-input
              id="inputTransmittalNumber"
              v-model="transmittalForm.transmittal_number"
              type="number"
              size="sm"
            ></b-form-input>
          </b-col>
        </b-row>
        <hr />
        <template>
          <b-button
            id="btnTransmit"
            size="sm"
            variant="success"
            @click="transmit()"
            style="font-size:13px"
          >Transmit</b-button>
          <!-- <b-button id="btnCancel" size="sm" style="font-size:13px;border: 0px;">Cancel</b-button> -->
        </template>
      </b-modal>

      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="inputSearch"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="btnClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="5">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 170px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col></b-col>

        <b-col>
          <b-dropdown size="sm" id="dropdown-grouped" text="Filter Table">
            <b-dropdown-group id="ttype" header="Transaction Type">
              <b-form-checkbox-group id="check" size="sm" v-model="selectedFilters" class="ml-4">
                <b-form-checkbox size="sm" id="Delivery" value="Delivery">Delivery</b-form-checkbox>
                <b-form-checkbox size="sm" id="Withdrawal" value="Withdrawal">Withdrawal</b-form-checkbox>
                <b-form-checkbox size="sm" id="Others" value="Others">Others</b-form-checkbox>
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col>

        <!-- <b-col cols="1" >

            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>

        </b-col>
        -->

        <!-- <b-col cols="1" >

            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>

        </b-col>-->

        <!-- <b-col cols="4" style="text-align: right;">
          
          <b-button
            size="sm"
            style="font-size:15px;"
            variant="danger"
            v-b-tooltip.hover
            title="Export Report to PDF"
          >
            <font-awesome-icon style icon="file-pdf" />
          </b-button>
          <b-button
          align="right"
            size="sm"
            class="button1 "
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export Report to Excel"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button>
     
        </b-col>-->
      </b-row>
      <!-- Main table element -->
      <b-table
        id="Table"
        class="my-3"
        style="font-size:13px"
        show-empty
        small
        stacked="md"
        scrollable
        :items="computedTransactions"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        :tbody-tr-class="highlightRow"
      >
        <template class="font_badge" v-slot:cell(created_at)="row">
          {{
          formatDate(row.item.created_at)
          }}
        </template>
        <template v-slot:cell(name)="row">{{ row.value.first }} {{ row.value.last }}</template>

        <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="convertLowerCase(row.item.status) !== 'rejected'">
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:green"
            >{{ row.item.status }}</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill block style="font-size:0.7rem;background-color:#B22222">For Outbound</b-badge>
            <!-- display for outbound; but status in db is rejected -->
          </div>
        </template>

        <template v-slot:cell(actions)="row">
          <div v-if="convertCase(row.item.transaction_type) === 'Delivery'">
            <!-- <b-button
              v-if="row.item.status === 'for inbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Inbound</b-button>

            <b-button
              v-else-if="row.item.status === 'for outbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Outbound</b-button>

            <b-button
              v-else-if="row.item.status === 'completed'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Completed</b-button>-->
          </div>

          <div v-if="convertCase(row.item.transaction_type) === 'Withdrawal'">
            <!-- <b-button
              v-if="row.item.status === 'for inbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Inbound</b-button>

            <b-button
              v-else-if="row.item.status === 'for outbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Outbound</b-button>

            <b-button
              v-else-if="row.item.status === 'completed'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Completed</b-button>-->

            <b-button
              id="btnTransmittal"
              v-if="convertCase(row.item.status) === 'For Transmittal'"
              class="button1"
              size="sm"
              @click="showTransmittalModal(row)"
            >Transmit</b-button>
            <b-button
              id="btnQRCode"
              v-if="convertCase(row.item.status) !== 'For Transmittal'"
              size="sm"
              align="right"
              class="button1"
              @click="openQRCodeModal(row)"
            >
              <font-awesome-icon icon="qrcode" />QR
            </b-button>
          </div>

          <div v-if="convertCase(row.item.transaction_type) === 'Others'">
            <!-- <b-button
              v-if="row.item.status === 'completed'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Completed</b-button>-->
            <b-button
              id="btnTransaction"
              v-if="convertCase(row.item.status) === 'Others'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Transaction</b-button>
          </div>
          <!-- <b-button
            v-if="row.item.status === 'for inbound'"
            block
            class="button1"
            size="sm"
            @click="redirect(row)"
          >Inbound</b-button>

          <b-button v-else-if="row.item.status === 'for outbound'" class="button1" size="sm" block @click="redirect(row)">Outbound</b-button>

           <b-button v-else-if="row.item.status === 'completed'" class="button1" size="sm" block @click="redirect(row)">Completed</b-button>

            <b-button v-else-if="row.item.status === 'others'" class="button1" size="sm" block @click="redirect(row)">Transact</b-button>


          <b-button v-else-if="row.item.status === 'for transmittal'" class="button1" size="sm" block @click="redirect(row)">Transmit</b-button>-->
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
            </ul>
          </b-card>
        </template>
        <template v-slot:table-caption>
          <b-row align-h="end">
            <b-col cols="6">{{ bottomLabel }}</b-col>

            <b-col cols="6">
              <b-pagination
                id="pagination"
                pills
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="right"
                size="sm"
              ></b-pagination>
            </b-col>
          </b-row>
        </template>
      </b-table>

      <!-- Info modal -->
      <!-- <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      </b-modal>-->

      <!-- QR Code Modal -->

      <b-modal size="sm" header-bg-variant="success" header-text-variant="light" id="qr-modal">
        <template v-slot:modal-title>
          <h6>QR Code</h6>
        </template>

        <b-row>
          <b-col>
            <small for="input-small">Driver</small>
            <b-form-select id="selectDriverName" size="sm" placeholder="Enter your name"></b-form-select>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Truck Info</small>
            <b-form-select id="selecttruckInfo" size="sm" placeholder="Enter your name"></b-form-select>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Supplier</small>
            <b-form-select id="selectSupplier" size="sm" placeholder="Enter your name"></b-form-select>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Raw Material</small>
            <b-form-select id="selectRawMaterial" size="sm" placeholder="Enter your name"></b-form-select>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Location Delivery</small>
            <b-form-input id="inputLocationDelivery" type="text" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Warehouse Location</small>
            <b-form-input id="inputwarehouseLocation" type="text" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Number of Bags</small>
            <b-form-input id="inputNumberofBags" type="number" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <small for="input-small">Transmittal Number</small>
            <b-form-input id="inputTransmittalNumber" type="number" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <template>
          <b-button
            id="GenrateQRCode"
            size="sm"
            variant="success"
            style="font-size:13px"
          >Generate QR</b-button>
          <b-button
            id="CancelQRCode"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
      </b-modal>

      <!-- End QR Code Modal -->

      <!-- Printed QR Code Modal -->

      <!-- 
      <VueQrcode id="lol" :value="{a: 'asd', b: 'asd'}" :options="{ width: 200 }" hidden></VueQrcode>-->

      <b-modal
        size="md"
        header-bg-variant="success"
        header-text-variant="light"
        id="printedqr-modal"
      >
        <template v-slot:modal-title>
          <h6>Print</h6>
        </template>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Plate Number:</label>
          </b-col>
          <b-col sm="8">
            <b-form-select
              id="platenumber"
              size="md"
              v-model="qrplateNumber"
              @change="generateQrCode"
              :options="qrplateNumberOptions"
            ></b-form-select>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Driver:</label>
          </b-col>
          <b-col sm="8">
            <b-form-select
              id="driver"
              size="md"
              v-model="qrdriver"
              @change="generateQrCode"
              :options="qrDriverOptions"
            ></b-form-select>
          </b-col>
        </b-row>

        <div id="printable">
          <b-row class="text-center">
            <b-col>
              <VueQrcode id="lol" :value="qrData" :options="{ width: 300 }"></VueQrcode>
            </b-col>
          </b-row>
        </div>

        <template v-slot:modal-footer="{}">
          <b-button
            id="autoPrint"
            size="lg"
            variant="success"
            @click="autoPrint()"
            :disabled="!qrData"
            style="font-size:13px"
          >Print</b-button>

          <!-- <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button> -->
        </template>
      </b-modal>

      <!-- successmsg -->
      <b-alert
        id="alertsuc"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >{{ successMsg }}</b-alert>
      <!-- errmsg -->
      <b-alert
        id="update alert"
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
      >{{ errorMsg }}</b-alert>
    </b-card>

    <!-- End QR Code Modal -->
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import VueQrcode from "@chenfengyuan/vue-qrcode";
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    VueQrcode,
    DateRangePicker,
    Loading,
    VueBootstrapTypeahead
  },
  async created() {
    await this.getTransactionTypes();
    await this.getDrivers();
    await this.getTruckInfos();
    await this.getTransactions();

    //

    await this.getPos();
  },
  data() {
    return {
      driverList: [],
      driverFilter: null,
      plateNumberFilter: null,
      showLoading: false,
      opens: "center",

      po: null,
      pos: [],

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      barcodeImage: null,
      qrData: null,
      qrplateNumber: null,
      indexForQr: null,
      qrdriver: {
        firstname: null,
        lastname: null
      },
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      selectedFilters: ["Delivery", "Withdrawal", "Others"],
      qrplateNumberOptions: [],
      qrDriverOptions: [],
      indexForTransmittal: null,
      selectedPurchaseOrder: null,
      transmittalForm: {
        supplier: null,
        raw_material: null,
        location_delivery: null,
        warehouse_location: null,
        number_of_bags: null,
        transmittal_number: null
      },
      requests: [],
      selectedItems: [],
      departments: [],
      requestTypes: [],
      filterActive: "",
      transactionType: null,
      supplier: null,
      item: null,
      trackingCode: null,
      numberOfBags: null,
      plateNumber: null,
      driver: null,
      transactionOptions: [],
      plateNumberOptions: [],
      driverOptions: [],
      options1: [
        { value: null, text: "Please select an option" },
        { value: "PDF", text: "Paddy Drying Facility" },
        { value: "PDF", text: "Rice Mill Facility" },
        { value: "CDF", text: "Corn Drying Facility" },
        { value: "FM", text: "Feedmill" }
      ],
      modalShow: false,

      items: [],

      fields: [
        {
          key: "created_at",
          label: "Date",
          sortable: true,
          sortDirection: "desc"
        },
        // {
        //   key: "transaction_number",
        //   label: "Transaction Number",
        //   sortable: true,
        //   sortDirection: "desc"
        // },
        {
          key: "tracking_code",
          label: "Tracking Code",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "transaction_type",
          label: "Transaction Type",
          sortable: true,
          class: "text-center"
        },
        // {
        //   key: "raw_material",
        //   label: "Product",
        //   sortable: true,
        //   class: "text-center"
        // },
        // {
        //   key: "supplier",
        //   label: "Supplier",
        //   sortable: true,
        //   class: "text-center"
        // },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],

      totalRows: 1,
      currentPage: 1,
      perPage: 8,
      // pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    computedTransactions() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(item.transaction_type);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;
      return this.items.filter(item => {
        return this.selectedFilters.includes(item.transaction_type);
      });
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedTransactions.length) {
        end = this.computedTransactions.length;
      }

      if (this.computedTransactions.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedTransactions.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {},
  methods: {
    highlightRow(item, type) {
      if (!item || type !== "row") return;
      if (item.status.toLowerCase() === "rejected") return "table-danger";
    },
    convertLowerCase(s) {
      return s.toLowerCase();
    },
    async returnDriverId() {
      try {
        const s = this.driverFilter;
        const data = this.driverList;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.driver = id;
      } catch (e) {
        console.log("Error return driver ID: ", e);
      }
    },
    async returnPlateNumberId() {
      try {
        const s = this.plateNumberFilter;
        const data = this.qrplateNumberOptions;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.plateNumber = id;
      } catch (e) {
        console.log("Error get plate number ID: ", e);
      }
    },
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },

    async getPos() {
      try {
        const res = await axios({
          method: "GET",
          url: `${this.$axios.defaults.baseURL}/pos/select`,
          headers: {
            authorization: "Bearer " + localStorage.token
          }
        });

        const data = res.data.view;

        for (let i = 0; i < data.length; i++) {
          this.pos.push({
            value: data[i].id,
            text: data[i].purchase_order
          });
        }
      } catch {}
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    showTransmittalModal(row) {
      this.transmittalForm.location_delivery = null;
      this.transmittalForm.warehouse_location = null;
      this.transmittalForm.number_of_bags = null;
      this.transmittalForm.transmittal_number = null;

      this.indexForTransmittal = null;
      this.indexForTransmittal = row.item.transaction_number;

      this.selectedPurchaseOrder = row.item.purchase_order_id;
      this.$bvModal.show("bv-modal-transmittal");
    },

    async transmit() {
      try {
        let data = {
          created_at: this.created_at,
          // supplier_name: this.transmittalForm.supplier,
          // raw_material_name: this.transmittalForm.raw_material,
          transaction_type_name: "Withdrawal",
          created_by: localStorage.id,
          transmittal_number: this.transmittalForm.transmittal_number,
          no_of_bags: this.transmittalForm.number_of_bags,
          location_delivery: this.transmittalForm.location_delivery,
          warehouse_location: this.transmittalForm.warehouse_location,
          purchase_order_id: this.selectedPurchaseOrder,
          transaction_id: this.indexForTransmittal
        };

        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/add`,
          data: {
            ...data
          },
          headers: {
            authorization: "Bearer " + localStorage.token
          }
        });

        this.getTransactions();
        this.$bvModal.hide("bv-modal-transmittal");
        // this.successMsg = res.data.posted.msg;
        //   this.showAlert();
      } catch (e) {
        console.log("Error: ", e);
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.transaction_number}`);
    },

    qrcode() {
      this.$bvModal.show("qr-modal");
    },

    generateQR() {
      window.open(url);
    },

    async generateQrCode() {
      try {
        if (
          !this.qrdriver.firstname &&
          !this.qrdriver.lastname &&
          !this.qrplateNumber
        ) {
          console.log("cant generate");
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: this.indexForQr
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          const datas = res.data.view[0].transactionDetails[0];

          const data = {
            supplier_name: null,
            raw_material_name: null,
            transaction_type_name:
              datas.transactionType[0].transaction_type_name,
            created_by: localStorage.id,
            transmittal_number: datas.withdrawalDetails[0].transmittal_number,
            no_of_bags: datas.no_of_bags,
            location_delivery: datas.withdrawalDetails[0].location_delivery,
            warehouse_location: datas.withdrawalDetails[0].warehouse_location,
            purchase_order_id: datas.withdrawalDetails[0].purchase_order_id,
            driver: {
              firstname: this.qrdriver.firstname,
              lastname: this.qrdriver.lastname
            },
            plate_number: this.qrplateNumber,
            users_id: localStorage.id,
            truckscale_id: localStorage.truckscale
          };

          if (
            this.qrplateNumber &&
            this.qrdriver.firstname &&
            this.qrdriver.lastname
          ) {
            this.qrData = JSON.stringify(data);
          }
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    openQRCodeModal(row) {
      this.indexForQr = row.item.transaction_number;

      this.qrdriver = null;
      this.qrplateNumber = null;
      this.qrData = null;

      this.qrdriver = {
        firstname: null,
        lastname: null
      };

      this.$bvModal.show("printedqr-modal");
    },

    printQrCodes() {
      let tempLink = document.getElementById("lol");
      let data = tempLink.toDataURL("image/png");
      var mywindow = window.open("", "PRINT", "height=600,width=1000");

      mywindow.document.write("<html><head><title> </title>");

      mywindow.document.write("</head><body>");
      //content
      mywindow.document.write(`
    <center><img src="${data}" style="height: 250; width:250"></center>
    `);

      mywindow.document.write("</body></html>");

      // mywindow.document.close(); // necessary for IE >= 10
      // mywindow.focus(); // necessary for IE >= 10*/
      // mywindow.print();
      // mywindow.close();

      mywindow.document.addEventListener(
        "load",
        function() {
          mywindow.focus();
          mywindow.print();
          mywindow.document.close();
          mywindow.close();
        },
        true
      );
    },

    async autoPrint() {
      try {
        window.print();
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    printWindows() {
      let windowContent = "<!DOCTYPE html>";
      windowContent += "<html>";
      windowContent += "<body>";

      let tempLink = document.getElementById("lol");
      let data = tempLink.toDataURL("image/png");
      windowContent +=
        '<img src="' + data + '" style="height: 120px; width:120px">';

      windowContent += "</body>";
      windowContent += "</html>";
      const printWin = window.open(
        "",
        "",
        "width=" + screen.availWidth + ",height=" + screen.availHeight
      );

      printWin.document.open();
      printWin.document.write(windowContent);

      printWin.document.addEventListener(
        "load",
        function() {
          printWin.focus();
          printWin.print();
          printWin.document.close();
          printWin.close();
        },
        true
      );
    },

    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    async getTransactionTypes() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transaction-type/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            // allow only others
            if (e.U_TS_TRNSTYPE.toLowerCase() == "others") {
              this.transactionOptions.push({
                value: e.U_TS_TRNSTYPE.toLowerCase(),
                text: this.convertCase(e.U_TS_TRNSTYPE)
              });
            }
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/transaction-type/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              // for (let i = 0; res.data.view.length; i++) {
              //   this.transactionOptions.push({
              //     value: res.data.view[i].transaction_type_name,
              //     text: res.data.view[i].transaction_type_name
              //   });
              // }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get transaction type: ", e);
      }
    },
    async getTruckInfos() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          this.showLoading = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.plateNumberOptions.push(
              e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase()
            );

            this.qrplateNumberOptions.push({
              value: e.U_BFI_TS_TRINFO.Code,
              text: e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase()
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.plateNumberOptions.push({
                  value: res.data.view[i].truckinfo_id,
                  text: res.data.view[i].plate_number
                });

                this.qrplateNumberOptions.push({
                  value: res.data.view[i].plate_number,
                  text: res.data.view[i].plate_number
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        console.log("Error get truck info", e);
      }
    },
    async getDrivers() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const name = this.convertCase(`${e.U_TS_FN} ${e.U_TS_LN}`);

            this.driverList.push({
              value: e.Code,
              text: name
            });

            this.driverOptions.push(name);
            // this.qrDriverOptions.push({
            //   value: {
            //     firstname: e.U_TS_FN,
            //     lastname: e.U_TS_LN
            //   },
            //   text: name
            // });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                let name = `${res.data.view[i].firstname} ${res.data.view[i].lastname}`;
                this.driverOptions.push({
                  value: res.data.view[i].id,
                  text: name
                });

                this.qrDriverOptions.push({
                  value: {
                    firstname: res.data.view[i].firstname,
                    lastname: res.data.view[i].lastname
                  },
                  text: name
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },
    intToTime(i) {
      const str = i.toString();
      const len = str.length;

      let time = null;

      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    async getTransactions() {
      //  this.dateRange.date_to= moment(this.dateRange.date_to).add(1, "day").format("YYYY-MM-DD")
      try {
        this.items = [];

        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              from: this.dateRange.date_from,
              to: this.dateRange.date_to,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.status;

          if (status == 200) {
            const data = res.data.view;
            for (let i = 0; i < data.length; i++) {
              const e = data[i];
              // if role is document controller
              if (localStorage.role.toLowerCase() === "document controller") {
                if (e.transaction_type.toLowerCase() == "withdrawal") {
                  if (e.status.toLowerCase() !== "completed") {
                    // PHASE 2
                    // all withdrawal not completed
                    const dummy = null;

                    this.items.push({
                      created_at: e.BFITSUDO001.CreateDate,
                      transaction_number: e.BFITSUDO001.DocEntry,
                      transaction_type: this.convertCase(
                        e.U_BFI_TS_TRNSTYPE.U_TS_TRNSTYPE
                      ),
                      raw_material: dummy ? dummy : null,
                      supplier: dummy ? dummy : null,
                      purchase_order_id: dummy ? dummy : null,
                      status: this.convertCase(e.BFITSUDO001.U_TS_STATUS),
                      tracking_code: e.tracking_code
                        ? e.tracking_code.toUpperCase()
                        : ""
                    });
                  }
                }
              } else {
                if (e.status.toLowerCase() !== "completed") {
                  // not completed
                  const created_at = e.created_at;
                  const separete = created_at.split(" ");
                  const date = separete[0];
                  const time = this.intToTime(separete[1]);

                  this.items.push({
                    created_at: `${date} ${time}`,
                    transaction_number: e.transaction_number,
                    transaction_type: e.transaction_type
                      ? this.convertCase(e.transaction_type)
                      : null,
                    supplier: e.supplier ? this.convertCase(e.supplier) : null,
                    purchase_order_id: e.purchase_order_id
                      ? e.purchase_order_id
                      : null,
                    status: e.status ? this.convertCase(e.status) : null,
                    tracking_code: e.tracking_code
                      ? e.tracking_code.toUpperCase()
                      : ""
                  });
                }
              }
            }
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              from: this.dateRange.date_from,
              to: this.dateRange.date_to
            }
          });

          if (res.status === 200) {
            for (let i = 0; i < res.data.view.length; i++) {
              if (localStorage.role === "document controller") {
                if (res.data.view[i].transaction_type_name === "Withdrawal") {
                  if (res.data.view[i].status !== "completed") {
                    this.items.push({
                      created_at: res.data.view[i].created_at,
                      transaction_number: res.data.view[i].id,
                      transaction_type: res.data.view[i].transaction_type_name,
                      raw_material: res.data.view[i].description,
                      supplier: res.data.view[i].supplier_name,
                      purchase_order_id: res.data.view[i].purchase_order_id,
                      status: res.data.view[i].status
                    });
                  }
                }
              } else {
                if (res.data.view[i].status !== "completed") {
                  this.items.push({
                    created_at: res.data.view[i].created_at,
                    transaction_number: res.data.view[i].id,
                    transaction_type: res.data.view[i].transaction_type_name,
                    raw_material: res.data.view[i].description,
                    supplier: res.data.view[i].supplier_name,
                    purchase_order_id: res.data.view[i].purchase_order_id,
                    status: res.data.view[i].status
                  });
                }
              }
            }
          }
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get all transactions: ", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async saveTransaction(evt) {
      evt.preventDefault();
      try {
        let data;
        if (this.transactionType === "Delivery") {
          data = {
            supplier_name: this.supplier,
            raw_material_name: this.item,
            transaction_type_name: this.transactionType,
            created_by: localStorage.id,
            tracking_code: this.trackingCode,
            no_of_bags: this.numberOfBags,
            drivers_id: this.driver,
            truck_info_id: this.plateNumber
          };

          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/add`,
            data: {
              ...data
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              if (res.status === 201) {
                this.$bvModal.hide("bv-modal-example");
                this.getTransactions();
              }
            })
            .catch(error => {
              console.log("Error: ", error);
              this.errorMsg = error.response.data.error;
              this.showAlertErr();
            });
        } else if (this.transactionType.toLowerCase() === "others") {
          if (localStorage.mode == 1) {
            this.showLoading = true;

            const d = new Date().toDateString();
            const t = new Date().toTimeString();
            const date = moment(d).format("YYYY-MM-DD");
            const time = await this.fixTime(t);

            if (!this.plateNumber) {
              this.showLoading = false;
              this.errorMsg = "Please select plate number.";
              this.showAlertErr();
              return;
            }

            if (!this.driver) {
              this.showLoading = false;
              this.errorMsg = "Please select driver.";
              this.showAlertErr();
              return;
            }

            data = {
              t_type: "others",
              truckscale_id: localStorage.truckscale,
              driver_id: this.driver,
              truck_info_id: this.plateNumber,
              createdby: localStorage.id,
              created_date: date,
              created_time: time,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            };

            const res = await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/add`,
              data: {
                ...data
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });
            this.showLoading = false;
            const status = res.status;

            if (status == 201) {
              this.getTransactions();
              this.successMsg = "Added transaction successfully.";
              this.showAlert();
              this.plateNumber = "";
              this.transactionType = "";
              this.driver = "";
              this.$bvModal.hide("bv-modal-example");
            }
          } else {
            data = {
              transaction_type_name: this.transactionType,
              created_by: localStorage.id,
              drivers_id: this.driver,
              truck_info_id: this.plateNumber
            };

            axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/add`,
              data: {
                ...data
              },
              headers: {
                authorization: "Bearer " + localStorage.token
              }
            })
              .then(res => {
                if (res.status === 201) {
                  // this.$bvModal.hide("bv-modal-example");
                  this.getTransactions();
                  this.successMsg = res.data.posted.msg;
                  this.showAlert();
                  this.plateNumber = "";
                  this.transactionType = "";
                  this.driver = "";
                }
              })
              .catch(error => {
                console.log("Error: ", error);
                this.errorMsg = error.response.data.error;
                this.showAlertErr();
              });
          }
        } else if (this.transactionType === "Withdrawal") {
          data = {
            id: this.po
          };

          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/fetch-sap`,
            data: {
              ...data
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              if (res.status === 201) {
                // this.$bvModal.hide("bv-modal-example");

                this.getTransactions();
                this.successMsg = res.data.posted.msg;
                this.showAlert();
                this.transactionType = "";
                this.po = null;
              }
            })
            .catch(error => {
              console.log("Error: ", error);

              this.errorMsg = error.response.data.error;
              this.showAlertErr();
            });
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          console.log(e.response.data);
        } else {
        }
      }
    },

    async resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getTransactions();
      this.totalRows = this.items.length;
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getTransactions();
      this.totalRows = this.items.length;
    }
  },

  layout: "sidebar"
};
</script>

<style>
.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

@media print {
  #printable {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
