<template>
  <div>
    <Loading v-if="showLoading" />

    <b-card-group deck>
      <div class="my-2 mr-4 ml-4" style="width:600px">
        <b-modal id="Truck" v-model="Truck" title="Update Truck" size="m">
          <b-container fluid>
            <b-form-group
              id="plate_number"
              label="Plate Number:"
              label-for="input-2"
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="update_platenumber"
                v-model="PlateNumberInputForUpdate"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="truck_type"
              label="Truck Model:"
              label-for="input-2"
              style="font-size:13px"
            >
              <!-- <b-form-select
                id="selectUpdateTruckModel"
                v-model="truck_model1"
                :options="truck_model_list"
              ></b-form-select>-->

              <vue-bootstrap-typeahead
                id="plateNumberFilter"
                v-model="truckModelFilters"
                :data="truckModelArray"
                required
                @hit="returnTruckModelIdUpdate()"
                style="font-size:11px"
              />
            </b-form-group>
          </b-container>

          <template v-slot:modal-footer>
            <div class="w-100 float-right">
              <b-button
                id="btnCloseModal"
                @click="closeModal()"
                variant="danger"
                class="mr-2"
                size="sm"
              >Close</b-button>
              <b-button
                id="btnUpdateModal"
                variant="primary"
                size="sm"
                class="button1"
                @click="updateTruckInfo"
              >Save</b-button>
            </div>
          </template>

          <!-- error msg -->
          <b-alert
            :show="dismissCountDownErrs"
            dismissible
            fade
            class="err fixed"
            @dismiss-count-down="countDownChangedErrs"
          >{{ errorMsg }}</b-alert>
        </b-modal>
        <b-row>
          <b-col>
            <b-form-group
              style="font-size:13px"
              label="Search"
              label-cols-sm="2"
              label-align-sm="left"
              label-size="sm"
              label-for="filterInput"
            >
              <b-input-group size="sm">
                <b-form-input
                  style="font-size:13px"
                  v-model="filter"
                  type="search"
                  id="inputSearch"
                  label-align-sm="left"
                  placeholder="Type to Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button id="buttonClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-dropdown id="filterTruck" size="sm" text="Filter Table">
              <b-dropdown-group id="trucktypechoice" header="Truck Type">
                <b-form-checkbox-group
                  id="trucktype"
                  size="sm"
                  v-model="selectedFilters"
                  class="ml-4"
                >
                  <b-form-checkbox
                    size="sm"
                    :id="'choice' + index"
                    v-for="(item, index) in truckTypeFilters"
                    :key="index"
                    :value="item"
                  >{{ item }}</b-form-checkbox>
                </b-form-checkbox-group>
              </b-dropdown-group>
            </b-dropdown>
          </b-col>

          <!-- Main table element -->
          <b-table
            id="tableTruck"
            class="my-1"
            style="font-size:13px"
            show-empty
            small
            scrollable
            stacked="md"
            :items="computedItems"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered"
          >
            <template v-slot:cell(Actions)="row">
              {{ row.value.plate_number }} {{ row.value.truck_type }}
              {{ row.value.truck_model }}
              <b-button id="buttonEditTruck" class="button1" size="sm" @click="openModal(row)">
                <font-awesome-icon icon="edit" class="icon" />
              </b-button>
            </template>
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{ bottomLabel }}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
        </b-row>
      </div>
      <b-card style="height:30%">
        <b-card-text>
          <h5 class="color1">NEW TRUCK</h5>
        </b-card-text>
        <hr />
        <b-form-group
          id="input-group-2"
          label="Plate Number"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="inputPlateNumber"
            v-model="plate_numbers"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          label="Truck Model"
          label-for="input-2"
          style="font-size:13px"
        >
          <!-- <b-form-select id="selectTruckModel" v-model="truck_model" :options="truck_model_list"></b-form-select> -->
          <vue-bootstrap-typeahead
            id="plateNumberFilter"
            v-model="truckModelFilter"
            :data="truckModelArray"
            required
            @hit="returnTruckModelId()"
            style="font-size:11px"
          />
        </b-form-group>
        <b-row align-h="end">
          <b-button
            id="buttonClearTruck"
            @click="clearTruck()"
            variant="danger"
            class="mr-2"
            style="font-size:13px"
          >Clear</b-button>
          <b-button
            id="buttonAddTruck"
            @click="addTruck"
            class="button1 mr-3"
            style="font-size:13px"
          >Add</b-button>
        </b-row>
      </b-card>
      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->
      <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >{{ successMsg }}</b-alert>
      <!-- error msg -->
      <b-alert
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert>
      <!-- ALERT SUCCESSFULL END -->
    </b-card-group>

    <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import moment from "moment";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  async created() {
    await this.getTruckInfos();
    await this.getTruckTypes();
  },
  data() {
    return {
      truckModelFilters: null,
      truckModelFilter: null,
      truckModelArray: [],
      showLoading: false,
      truckTypeFilters: [],
      selectedFilters: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 8,
      indexForUpdate: null,
      PlateNumberInputForUpdate: null,
      successMsg: "",
      errorMsg: "",
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      firstname: "",
      middlename: "",
      lastname: "",
      Truck: false,
      truck_model: null,
      plate_numbers: null,
      truck_model1: "",
      truck_type: "",
      // truck_type_list: ["Truck", "Pick-up"],
      truck_model_list: [],
      items: [
        // {
        //   plate_number: "RCI-1220",
        //   truck_type: "Pick-Up",
        //   truck_model: "Ford"
        // },
        // {
        //   plate_number: "ASD-0190",
        //   truck_type: "Truck",
        //   truck_model: "Isuzu Travis"
        // },
        // {
        //   plate_number: "RAD-0220",
        //   truck_type: "Pick-Up",
        //   truck_model: "BAIC Freedom"
        // },
        // {
        //   plate_number: "WEI-4320",
        //   truck_type: "Pick-Up",
        //   truck_model: "Ford Tornado"
        // },
        // {
        //   plate_number: "EWQ-0430",
        //   truck_type: "Pick-Up",
        //   truck_model: "Ford Ranger"
        // }
      ],
      fields: [
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "truck_type", label: "Truck Type", sortable: true },
        { key: "truck_model", label: "Truck Model", sortable: true },
        { key: "Actions", label: "Actions", class: "text-center" },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
        // { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedItems.length) {
        end = this.computedItems.length;
      }

      if (this.computedItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedItems.length} entries`;
    },
    computedItems() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(item.truck_type);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(item => {
        return this.selectedFilters.includes(item.truck_type);
      });
    }
  },
  mounted() {},
  methods: {
    async returnTruckModelIdUpdate() {
      try {
        const s = this.truckModelFilters;
        const data = this.truck_model_list;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.truck_model1 = id;
      } catch (e) {
        console.log("Error get plate number ID: ", e);
      }
    },
    async returnTruckModelId() {
      try {
        const s = this.truckModelFilter;
        const data = this.truck_model_list;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.truck_model = id;
      } catch (e) {
        console.log("Error get plate number ID: ", e);
      }
    },
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    async updateTruckInfo() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-infos/update/${this.indexForUpdate}`,
            data: {
              U_TS_TRTYPE_ID: this.truck_model1,
              U_TS_PLATE_NUM: this.PlateNumberInputForUpdate,
              mode: localStorage.mode,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;

          const status = res.data.patched.status;

          if (status == 204) {
            // success
            this.getTruckInfos();
            this.Truck = false;
            this.successMsg = "Updated successfully.";
            this.showAlert();
          } else {
            // bad request
            this.errorMsg = `${res.data.patched.msg}, please try again.`;
            this.showAlertErrs();
          }
        } else {
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-infos/update/${this.indexForUpdate}`,
            data: {
              truck_type_id: this.truck_model1,
              plate_number: this.PlateNumberInputForUpdate
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            this.getTruckInfos();
            this.Truck = false;
            this.successMsg = res.data.patched.msg;
            this.showAlert();
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErrs();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErrs();
          }
        }
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async getTruckInfos() {
      try {
        this.items = [];

        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.status;
          if (status == 200) {
            if (res.data.view.status) {
              // invalid session
              if (res.data.view.status == 401) {
                this.errorMsg = "Expired session, please login again.";
                this.showAlertErr();
              }
            } else {
              const data = res.data.view;
              for (let i = 0; i < data.length; i++) {
                const e = data[i];

                this.items.push({
                  id: e.U_BFI_TS_TRINFO.Code,
                  plate_number: e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase(),
                  truck_type: this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE),
                  truck_model: this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRMODEL),
                  truck_type_id: e.U_BFI_TS_TRTYPE.Code
                });

                if (
                  !this.truckTypeFilters.includes(
                    this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE)
                  )
                ) {
                  this.truckTypeFilters.push(
                    this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE)
                  );
                  this.selectedFilters.push(
                    this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE)
                  );
                }
              }
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.items.push({
                  id: res.data.view[i].truckinfo_id,
                  plate_number: res.data.view[i].plate_number,
                  truck_type: res.data.view[i].truckType[0].truck_type,
                  truck_model: res.data.view[i].truckType[0].truck_model,
                  truck_type_id: res.data.view[i].truckType[0].id
                });

                if (
                  !this.truckTypeFilters.includes(
                    res.data.view[i].truckType[0].truck_type
                  )
                ) {
                  this.truckTypeFilters.push(
                    res.data.view[i].truckType[0].truck_type
                  );
                  this.selectedFilters.push(
                    res.data.view[i].truckType[0].truck_type
                  );
                }
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;
      }
    },
    async getTruckTypes() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          if (res.status == 200) {
            if (res.data.view.status) {
              if (res.data.view.status == 401) {
                this.errorMsg = "Expired session, please login again.";
                this.showAlertErr();
              }
            } else {
              const data = res.data.view;

              for (let i = 0; i < data.length; i++) {
                const e = data[i];

                this.truck_model_list.push({
                  value: e.Code,
                  text: this.convertCase(e.U_TS_TRMODEL)
                });

                this.truckModelArray.push(this.convertCase(e.U_TS_TRMODEL));
              }
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.truck_model_list.push({
                  value: res.data.view[i].id,
                  text: res.data.view[i].truck_model
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;
      }
    },
    async openModal(row) {
      this.indexForUpdate = row.item.id;

      this.PlateNumberInputForUpdate = row.item.plate_number;
      this.truck_model1 = row.item.truck_type_id;

      this.Truck = true;
    },
    closeModal() {
      this.TruckNameInputForUpdate = null;
      this.indexForUpdate = null;
      this.selectedUpdate = null;
      this.selected = [];
      this.Truck = false;
    },

    async addTruck() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              U_TS_TRTYPE_ID: this.truck_model,
              U_TS_PLATE_NUM: this.plate_numbers,
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          const status = res.status;
          if (status == 201) {
            this.getTruckInfos();
            this.successMsg = "Added successfully.";
            this.clearTruck();
            this.showAlert();
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              users_id: localStorage.id,
              truck_type_id: this.truck_model,
              plate_number: this.plate_numbers
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          // .then(res => {
          //   console.log(res);
          //   if (res.status === 201) {
          this.getTruckInfos();
          this.successMsg = res.data.posted.msg;
          this.clearTruck();
          this.showAlert();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e.response.data.error);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    clearTruck() {
      this.plate_numbers = null;
      this.truckModelFilter = "";
      this.truck_model = null;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
