<template>
  <Truckscale />

</template>

<script>
import Truckscale from "~/components/Transaction/Truckscale.vue";


export default {
  layout: "sidebar",
  components: {
    Truckscale
  },
   middleware: 'pageValidator',
  meta: {
    access: { right: 'view transactions' }
  },
};
</script>

<style scoped>
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
</style>
