<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">DRIVERS</h4>
    <b-card class="my-4 mr-4 ml-4">
      <b-card-group deck>
        <div class="my-2 mr-4 ml-4" style="width:600px">
          <b-row>
            <b-col>
              <b-form-group
                style="font-size:13px"
                label="Search"
                label-cols-sm="3"
                label-align-sm="left"
                label-size="sm"
                label-for="filterInput"
              >
                <b-input-group size="sm">
                  <b-form-input
                    style="font-size:13px"
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    label-align-sm="left"
                    placeholder="Type to Search"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>

            <b-modal v-model="driverModal" title="Update Driver" size="m">
              <b-container fluid>
                <b-form-group
                  id="input-group-2"
                  label="First Name:"
                  label-for="input-2"
                  style="font-size:13px"
                >
                  <b-form-input
                    style="font-size:13px"
                    id="fname"
                    v-model="formEdit.firstname"
                    required
                    placeholder="First Name"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="input-group-2"
                  label="Middle Name:"
                  label-for="input-2"
                  style="font-size:13px"
                >
                  <b-form-input
                    style="font-size:13px"
                    id="mname"
                    v-model="formEdit.middlename"
                    required
                    placeholder="Middle Name"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="input-group-2"
                  label="Last Name:"
                  label-for="input-2"
                  style="font-size:13px"
                >
                  <b-form-input
                    style="font-size:13px"
                    id="lname"
                    v-model="formEdit.lastname"
                    required
                    placeholder="Last Name"
                  ></b-form-input>
                </b-form-group>
              </b-container>

              <template v-slot:modal-footer>
                <div class="w-100">
                  <b-button
                    id="btnCloseModal"
                    @click="closeModal"
                    variant="danger"
                    class="mr-2"
                    size="sm"
                  >Close</b-button>
                  <b-button
                    id="btnUpdateModal"
                    variant="primary"
                    size="sm"
                    class="button1"
                    @click="updateDriver"
                  >Save</b-button>
                </div>
              </template>

              <b-alert
                id="update alert"
                :show="dismissCountDownErrs"
                dismissible
                fade
                class="err fixed"
                @dismiss-count-down="countDownChangedErrs"
              >{{ errorMsg }}</b-alert>
            </b-modal>

            <!-- Main table element -->
            <b-table
              id="table"
              class="my-1"
              style="font-size:13px"
              show-empty
              small
              scrollable
              stacked="md"
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              @filtered="onFiltered"
            >
              <template v-slot:cell(actions)="row">
                <b-button id="updatebtns" class="button1" size="sm" @click="openModal(row)">
                  <font-awesome-icon icon="edit" />
                </b-button>
              </template>
              <template v-slot:table-caption>
                <b-row align-h="end">
                  <b-col cols="6">{{ bottomLabel }}</b-col>

                  <b-col cols="6">
                    <b-pagination
                      id="pagination"
                      pills
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      align="right"
                      size="sm"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </template>
            </b-table>
          </b-row>
        </div>
        <b-card style="height:30%">
          <b-card-text>
            <h5 class="color1">NEW DRIVER</h5>
          </b-card-text>
          <hr />
          <b-form-group
            id="input-group-2"
            label="First Name:"
            label-for="input-2"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="firstnameinput"
              v-model="firstname"
              required
              placeholder="First Name"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="middlenameinput"
            label="Middle Name:"
            label-for="input-2"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="middlenameinput"
              v-model="middlename"
              required
              placeholder="Middle Name"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="Last Name:"
            label-for="input-2"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="ilastnameinput"
              v-model="lastname"
              required
              placeholder="Last Name"
            ></b-form-input>
          </b-form-group>
          <b-row align-h="end">
            <b-button
              id="clearbtndriver"
              @click="clearDriver()"
              variant="danger"
              class="mr-2"
              style="font-size:13px"
            >Clear</b-button>
            <b-button
              id="addbtndriver"
              @click="addDriver()"
              class="button1 mr-3"
              style="font-size:13px"
            >Add</b-button>
          </b-row>
        </b-card>

        <!-- ALERT SUCCESSFULL -->
        <b-alert
          id="alertsuc"
          :show="dismissCountDown"
          dismissible
          fade
          class="button1 fixed"
          @dismiss-count-down="countDownChanged"
        >{{ successMsg }}</b-alert>
        <!-- error msg -->
        <b-alert
          id="alertdanger"
          :show="dismissCountDownErr"
          dismissible
          fade
          class="err fixed"
          @dismiss-count-down="countDownChangedErr"
        >{{ errorMsg }}</b-alert>
        <!-- ALERT SUCCESSFULL END -->
      </b-card-group>

      <br />
      <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group>
    </b-card>
  </div>
</template>

<script>
// import alert from "@/components/Alert/Successful";
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import moment from "moment";

export default {
  components: {
    Loading
  },
  async created() {
    await this.getDrivers();

    this.totalRows = this.items.length;
  },

  middleware: "pageValidator",
  meta: {
    access: { right: "view drivers" }
  },
  data() {
    return {
      showLoading: false,
      indexForUpdate: null,

      formEdit: {
        firstname: null,
        middlename: null,
        lastname: null
      },
      driverModal: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 8,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      firstname: null,
      middlename: null,
      lastname: null,
      modalShow: false,
      items: [],
      fields: [
        {
          key: "firstname",
          label: "First Name",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "middlename", label: "Middle Name", sortable: true },
        { key: "lastname", label: "Last Name", sortable: true },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    closeModal() {
      this.driverModal = false;
    },
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async updateDriver() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const { firstname, middlename, lastname } = this.formEdit;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/drivers/update/${this.indexForUpdate}`,
            data: {
              U_TS_FN: firstname,
              U_TS_MN: middlename,
              U_TS_LN: lastname,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          const status = res.data.patched.status;

          if (status == 204) {
            this.getDrivers();
            this.driverModal = false;
            this.successMsg = "Updated driver successfully.";
            this.showAlert();
          }
        } else {
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/drivers/update/${this.indexForUpdate}`,
            data: {
              ...this.formEdit
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            this.getDrivers();
            this.driverModal = false;
            this.successMsg = res.data.patched.msg;
            this.showAlert();
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErrs();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErrs();
          }
        } else {
        }
      }
    },
    openModal(row) {
      this.driverModal = true;

      this.indexForUpdate = row.item.id;
      this.formEdit.firstname = row.item.firstname;
      this.formEdit.middlename = row.item.middlename;
      this.formEdit.lastname = row.item.lastname;
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async addDriver() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/add`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              U_TS_FN: this.firstname,
              U_TS_MN: this.middlename,
              U_TS_LN: this.lastname,
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          this.showLoading = false;

          const status = res.data.posted.status;
          if (status == 201) {
            this.successMsg = "Added Successfully.";
            this.getDrivers();
            this.clearDriver();
            this.showAlert();
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/add`,
            data: {
              firstname: this.firstname,
              middlename: this.middlename,
              lastname: this.lastname,
              users_id: localStorage.id
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          // .then(res => {
          // if (res.status === 201) {
          this.successMsg = res.data.posted.msg;
          this.getDrivers();
          this.clearDriver();
          this.showAlert();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    clearDriver() {
      this.firstname = "";
      this.middlename = "";
      this.lastname = "";
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    async getDrivers() {
      this.items = [];
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          this.showLoading = false;

          if (res.status === 200) {
            const data = res.data.view;
            for (let i = 0; i < data.length; i++) {
              const e = data[i];
              this.items.push({
                id: e.Code,
                firstname: e.U_TS_FN ? this.convertCase(e.U_TS_FN) : null,
                middlename: e.U_TS_MN ? this.convertCase(e.U_TS_MN) : null,
                lastname: e.U_TS_LN ? this.convertCase(e.U_TS_LN) : null
              });
            }
          }
        } else {
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            for (let i = 0; i < res.data.view.length; i++) {
              this.items.push({
                id: res.data.view[i].id,
                firstname: res.data.view[i].firstname,
                middlename: res.data.view[i].middlename,
                lastname: res.data.view[i].lastname
              });
            }
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
        }
      }
    }
  },

  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
