<template>
  <div class="body">
    <main>
      <FirstTimeLogin />
    </main>
  </div>
</template>

<script>
import FirstTimeLogin from "@/components/Login/FirstTimeLogin";
export default {
  name: "LoginUI",
  layout: "loginLayout",
  components: {
    FirstTimeLogin
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
